.ProseMirror {
  position: relative;
  grid-area: editor;
  padding: 48px 0;
}

.ProseMirror hr {
  border-radius: 1px;
  border: 1px solid #b3b3b3;
  position: relative;
  overflow: visible;
}

.ProseMirror hr:after {
  left: 50%;
  position: absolute;
  content: 'Section Break';
  text-transform: uppercase;
  background: rgb(255,255,255);
  top: -14.25px;
  font-weight: 700;
  color: #b3b3b3;
  padding: 0 6px;
  font-size: 12px;
  transform: translateX(-50%);
}

.ProseMirror a img {
  border: 2px solid;
  border-radius: 3px;
}

.ProseMirror a img.ProseMirror-separator {
  display: none;
}

.ProseMirror img.ProseMirror-selectednode {
  filter: brightness(0.5);
}

.ProseMirror table {
  width: 100%;
  border-spacing: 6px;
}

.ProseMirror tr:first-child td,
.ProseMirror tr:first-child th {
  background: aliceblue;
  text-align: center;
  font-weight: 700;
}

.ProseMirror th,
.ProseMirror td {
  border: 3px dotted #d0d0d0;
  border-radius: 3px;
  margin: 3px;
  vertical-align: top;
  min-width: 100px;
}

td.selectedCell {
  border: 3px dotted #60c175;
}
