.ProseMirror-menubar {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  left: 12px;
  padding: 6px 6px 0 6px;
  border-radius: 4px;
  box-shadow: 0px 0px 5px 0px #b5b5b5;
  background: #FFF;
  box-sizing: border-box;
  grid-area: toolbar;
  z-index: 1;
}

.da-editor-tool {
    position: relative;
    width: 44px;
    height: 44px;
    display: block;
    border: none;
    margin-bottom: 6px;
}

.ProseMirror-menubar > .ProseMirror-menuitem {
  display: block;
  width: 44px;
  height: 44px;
  text-indent: -1000px;
  overflow: hidden;
  border-radius: 2px;
  margin-bottom: 6px;
  background-color: #EFEFEF;
}

span.ProseMirror-menuitem.edit-table[style=""] + .ProseMirror-menuitem {
  display: none;
}

span.ProseMirror-menuseparator {
  height: 2px;
  display: block;
  background: #EFEFEF;
  margin-bottom: 6px;
  border-radius: 1px;
}

.ProseMirror-menuitem > div {
  width: 44px;
  height: 44px;
}

.ProseMirror-menu-dropdown {
  height: 44px;
}

.ProseMirror-menu-dropdown.edit-text {
  background: url('/blocks/edit/img/Smock_Text_18_N.svg') center / 18px no-repeat #EFEFEF;
}

.ProseMirror-menu-dropdown-menu {
  position: absolute;
  height: auto;
  top: 0;
  left: 64px;
  background: #FFF;
  padding: 6px 6px 0 6px;
  box-shadow: 0px 0px 5px 0px #b5b5b5;
  border-radius: 4px;
}

.ProseMirror-menu-dropdown-item {
  margin-bottom: 6px;
}

.ProseMirror-menu-dropdown-item > div {
  width: 44px;
  height: 44px;
  border-radius: 2px;
}

.menu-item-para {
  background: url('/blocks/edit/img/Smock_TextParagraph_18_N.svg') center / 18px no-repeat #EFEFEF;
}

.menu-item-h1 {
  background: url('/blocks/edit/img/Smock_Heading1_18_N.svg') center / 18px no-repeat #EFEFEF;
}

.menu-item-h2 {
  background: url('/blocks/edit/img/Smock_Heading2_18_N.svg') center / 18px no-repeat #EFEFEF;
}

.menu-item-h3 {
  background: url('/blocks/edit/img/Smock_Heading3_18_N.svg') center / 18px no-repeat #EFEFEF;
}

.menu-item-h4 {
  background: url('/blocks/edit/img/Smock_Heading4_18_N.svg') center / 18px no-repeat #EFEFEF;
}

.menu-item-h5 {
  background: url('/blocks/edit/img/Smock_Heading5_18_N.svg') center / 18px no-repeat #EFEFEF;
}

.menu-item-h6 {
  background: url('/blocks/edit/img/Smock_Heading6_18_N.svg') center / 18px no-repeat #EFEFEF;
}

.edit-bold {
  background: url('/blocks/edit/img/Smock_TextBold_18_N.svg') center / 18px no-repeat #EFEFEF;
}

.edit-italic {
  background: url('/blocks/edit/img/Smock_TextItalic_18_N.svg') center / 18px no-repeat #EFEFEF;
}

.edit-link {
  background: url('/blocks/edit/img/Smock_Link_18_N.svg') center / 18px no-repeat #EFEFEF;
}

.edit-list {
  background: url('/blocks/edit/img/Smock_TextBulleted_18_N.svg') center / 18px no-repeat #EFEFEF;
}

.insert-table {
  background: url('/blocks/edit/img/Smock_TableAdd_18_N.svg') center / 18px no-repeat #EFEFEF;
}

.ProseMirror-menu-dropdown.edit-table {
  background: url('/blocks/edit/img/Smock_TableEdit_18_N.svg') center / 18px no-repeat #EFEFEF;
}

.addColBefore {
  background: url('/blocks/edit/img/Smock_TableColumnAddLeft_18_N.svg') center / 18px no-repeat #EFEFEF;
}

.addColumnAfter {
  background: url('/blocks/edit/img/Smock_TableColumnAddRight_18_N.svg') center / 18px no-repeat #EFEFEF;
}

.deleteColumn {
  background: url('/blocks/edit/img/Smock_TableColumnRemoveCenter_18_N.svg') center / 18px no-repeat #EFEFEF;
}

.addRowBefore {
  background: url('/blocks/edit/img/Smock_TableRowAddTop_18_N.svg') center / 18px no-repeat #EFEFEF;
}

.addRowAfter {
  background: url('/blocks/edit/img/Smock_TableRowAddBottom_18_N.svg') center / 18px no-repeat #EFEFEF;
}

.deleteRow {
  background: url('/blocks/edit/img/Smock_TableRowRemoveCenter_18_N.svg') center / 18px no-repeat #EFEFEF;
}

.deleteTable {
  background: url('/blocks/edit/img/Smock_TableRemove_18_N.svg') center / 18px no-repeat #EFEFEF;
}

.mergeCells {
  background: url('/blocks/edit/img/Smock_TableMergeCells_18_N.svg') center / 18px no-repeat #EFEFEF;
}

.splitCell {
  background: url('/blocks/edit/img/Smock_TableRowSplit_18_N.svg') center / 18px no-repeat #EFEFEF;
}

.edit-hr {
  background: url('/blocks/edit/img/Smock_PageRule_18_N.svg') center / 18px no-repeat #EFEFEF;
}

.edit-undo {
  background: url('/blocks/edit/img/Smock_Undo_18_N.svg') center / 18px no-repeat #EFEFEF;
}

.edit-redo {
  background: url('/blocks/edit/img/Smock_Redo_18_N.svg') center / 18px no-repeat #EFEFEF;
}

