/* Prevent main from page-scrolling when browse is active */
body:has(nx-browse) {
  overflow: hidden;
}

/* Hide the toggle when the before panel is already visible */
html:has(aside.panel[data-position="before"]:not([hidden]))
  nx-browse::part(toggle-before) {
  display: none;
}
