:host {
  display: block;
  color: var(--s2-gray-800);
}

.da-actions-create {
  padding: 0;
  display: flex;
  list-style: none;
  position: relative;
}

.da-actions-new-button {
  min-width: 88px;
}

.da-actions-new-label {
  line-height: 1;
}

.da-actions-file {
  display: none;
}

nx-menu {
  --nx-menu-font-size: var(--s2-body-size-s);
}
