:host {
  display: block;
  position: relative;
  margin-top: -1px;
}

:host(:last-child) {
  margin-bottom: -1px;
}

:host(:hover),
:host(.is-expanded) {
  z-index: 1;
  background: var(--s2-blue-100);
}

:host > svg {
  display: none;
}

.da-item-list-item-inner {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  gap: var(--da-list-pad-inline, 24px);
  padding: 0 var(--da-list-pad-inline, 24px);
}

.da-item-list-item-inner.can-select {
  grid-template-columns: auto 1fr auto;
}

.da-item-list-item-title,
.da-item-list-item-rename {
  gap: var(--s2-spacing-100);
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  color: var(--s2-gray-900);
  padding: var(--s2-spacing-300) 0;
}

.da-item-list-item-title {
  outline-offset: -1px;
  grid-template-columns: 1fr auto;
}

.da-item-list-item-rename {
  grid-template-columns: auto 1fr auto;
}

.da-item-list-item-info {
  display: flex;
  align-items: center;
  gap: var(--s2-spacing-100);
  min-width: 0;
}

.da-item-list-item-type {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
}

.da-item-list-item-date {
  min-width: 160px;
}

.da-item-list-item-name {
  display: flex;
  align-items: center;
  gap: 8px;
  min-width: 0;
}

.da-item-list-item-name-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: var(--s2-component-s-bold-font-weight);
}

.da-item-list-item-type > svg:first-child {
  width: 18px;
  height: 18px;
}

.da-item-list-item-favorite {
  position: absolute;
  bottom: 4px;
  left: 5px;
  width: 10px;
  height: 10px;
  pointer-events: none;
  filter: drop-shadow(0 0 1.5px var(--s2-gray-25));
  color: var(--s2-yellow-500);
}


.icon.rename-icon,
.icon.cancel-icon,
.icon.checkmark-icon {
  width: 18px;
  height: 18px;
  background-color: currentColor;
}

.icon.rename-icon {
  mask: no-repeat center / 18px url('/img/icons/s2-icon-refresh-20-n.svg');
  animation: da-spin 4s linear infinite;
}

.icon.cancel-icon {
  mask: no-repeat center / 18px url('/img/icons/s2-icon-cancel-20-n.svg');
}

.icon.checkmark-icon {
  mask: no-repeat center / 18px url('/img/icons/s2-icon-checkmark-20-n.svg');
}

/* Rename */
.da-item-list-item-rename input {
  display: block;
  font-family: var(--s2-font-family);
  font-size: 16px;
  background: none;
  border: none;
  border-bottom: 1px dotted var(--s2-gray-900);
  padding: 0;
  margin: 1px 0 0;
  line-height: 24px;
  box-sizing: border-box;
}

.da-item-list-item-rename input:focus-visible {
  outline: none;
  border: none;
  border-bottom: 1px dotted var(--s2-blue-900);
}

.da-item-list-item-rename-actions {
  display: flex;
}

.da-item-list-item-rename-actions button {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  border: none;
  background: none;
}

.da-item-list-item-rename-actions svg {
  width: 18px;
  height: 18px;
}

.da-item-list-item-expand-btn {
  border: none;
  width: var(--da-list-action-width, 32px);
  height: var(--da-list-action-width, 32px);
  display: none;
  align-items: center;
  justify-content: center;
  background: none;
  border-radius: 3px;
  cursor: pointer;
  position: relative;
  transition: background 0.2s ease;

  &:hover {
      background: var(--s2-blue-300);
  }
}

.da-item-list-item-expand-btn::after {
  content: '';
  width: 18px;
  height: 18px;
  background-color: currentColor;
  mask: no-repeat center / 18px url('/img/icons/s2-icon-more-20-n.svg');
}

.da-item-list-item-expand-btn.is-visible {
  display: flex;
  transition: transform .2s ease-in-out;
}

.da-item-list-item-expand-btn svg {
  width: 18px;
  height: 18px;
}

/* Details */
.da-item-list-item-details {
  display: none;
  grid-template-columns: var(--da-list-action-width, 32px) 80px 1fr 182px 182px;
  padding: 24px var(--da-list-action-width, 32px) 24px 0;
  gap: var(--s2-spacing-100);
  border-top: 1px solid var(--s2-gray-100);
  margin: 0 var(--da-list-pad-inline, 24px);
  font-size: 14px;
}

.da-item-list-item-details.can-select {
  padding: 24px var(--da-list-action-width, 32px) 24px calc(var(--da-checkbox-size, 14px) + var(--da-list-pad-inline, 24px));
}

:host(.is-expanded) .da-item-list-item-details {
  display: grid;
}

.da-item-list-item-aem-btn {
  text-decoration: none;
  color: var(--s2-gray-900);
  display: flex;
  background: none;
  gap: var(--s2-spacing-100);
}

.da-item-list-item-aem-icon {
  width: 33.33px;
  height: 32px;
  color: light-dark(var(--s2-gray-400), var(--s2-gray-700));

  &::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-color: currentColor;
    mask: no-repeat center / 32px 32px url('/img/icons/s2-icon-experiencecloudsolid-20-n.svg');
  }
}

.da-item-list-item-aem-icon.is-active {
  color: #fa0f00;
}

.da-item-list-item-details p {
  margin: 0;
  line-height: 1;
}

.da-item-list-item-details .da-list-item-details-title {
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 3px;
}


@keyframes spin {
  100% {
    transform:rotate(90deg);
  }
}

@media (width >= 600px) {
  .da-item-list-item-title,
  .da-item-list-item-rename {
    display: grid;
  }
}
