:host > svg {
  display: none;
}

.da-item-list-item-inner {
  padding: 0 24px;
  display: flex;
  align-items: center;
  gap: 24px;
}

.da-item-list-item-title,
.da-item-list-item-rename {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  align-items: center;
  text-decoration: none;
  color: rgb(46 46 46);
  padding: 24px 0;
}

.da-item-list-item-type {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
}

.da-item-list-item-type-file {
    background: url('/blocks/browse/img/Smock_Document_18_N.svg') center / cover no-repeat;
}

.da-item-list-item-type-folder {
    background: url('/blocks/browse/img/Smock_Folder_18_N.svg') center / cover no-repeat;
}

.da-item-list-item-icon-html {
  background: url('/blocks/browse/img/Smock_FileHTML_18_N.svg') center / cover no-repeat;
}

.da-item-list-item-icon-jpg,
.da-item-list-item-icon-jpeg,
.da-item-list-item-icon-png,
.da-item-list-item-icon-svg {
  background: url('/blocks/browse/img/Smock_Image_18_N.svg') center / cover no-repeat;
}

.da-item-list-item-icon-json {
  background: url('/blocks/browse/img/Smock_FileData_18_N.svg') center / cover no-repeat;
}

.icon.rename-icon {
  width: 18px;
  height: 18px;
  animation: spin 4s linear infinite;
}

@keyframes spin { 
  100% {
    transform:rotate(360deg);
  }
}

/* Checkbox */

.checkbox-wrapper {
  position: relative;
}

input[type="checkbox"] {
  appearance:  none;
  position:  absolute;
  top:  -4px;
  left: -5px;
  height:  20px;
  width:  20px;
}

.checkbox-label {
  display:  flex;
  position:  relative;
  font-size:  20px;
  font-weight:  400;
  align-items:  center;
  justify-content:  flex-start;
}

.checkbox-label::before,
.checkbox-label::after {
  pointer-events: none;
}

.checkbox-label::before {
  display:  flex;
  content: ' ';
  height:  18px;
  width:  18px;
  border-radius: 2px;
  background: rgb(221 221 221);
}

.checkbox-label::after {
  position: absolute;
  top: 3px;
  left: 1px;
  display: flex;
  content: " ";
  height: 5px;
  width: 12px;
  background: none;
  border-bottom: 4px solid #FFF;
  border-left: 4px solid #FFF;
  transform: rotate(-45deg) scale(0);
  transition: transform 0.1s ease 0s, opacity 0.1s ease 0s;
  transform-origin: center center;
}

.checkbox-wrapper input[type="checkbox"]:checked + .checkbox-label::before {
  background: #1473E6;
}

.checkbox-wrapper input[type="checkbox"]:checked + .checkbox-label::after {
  opacity:  1;
  transform: rotate(-45deg) scale(.8);
}

/* Rename */
.da-item-list-item-rename input {
  display: block;
  font-family: var(--body-font-family);
  font-size: 16px;
  background: none;
  border: none;
  border-bottom: 1px dotted #000;
  padding: 0;
  margin: 1px 0 0;
  line-height: 24px;
  box-sizing: border-box;
}

.da-item-list-item-rename input:focus-visible {
  outline: none;
  border: none;
  border-bottom: 1px dotted rgb(20 122 243);
}

.da-item-list-item-rename-actions {
  display: flex;
}

.da-item-list-item-rename-actions button {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  border: none;
  background: none;
}

.da-item-list-item-rename-actions svg {
  width: 18px;
  height: 18px;
}

@media (width >= 600px) {
  .da-item-list-item-title,
  .da-item-list-item-rename {
    display: grid;
    grid-template-columns: auto 320px 1fr;
  }
}
