.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  color: #FFF;
  background: #000;
}

.login img.da-login-bg {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: absolute;
}

.login img.aec-logo {
  flex: 0 0 60px;
  height: 60px;
  overflow: hidden;
}

.login .da-title-container {
  display: flex;
  align-items: center;
  gap: 24px;
}

.login .da-login-container {
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  width: var(--grid-container-width);
  margin: 0 auto;
}

@media (min-width: 600px) {
  .login .da-login-container {
    justify-content: space-between;
  }
}
