.da-navigation-header {
  border-bottom: 1px solid #e5e7eb;
  margin-bottom: 20px;
  position: sticky;
  top: 0;
  z-index: 1;
  background: #fff;
}

.da-navigation-header p {
  font-weight: 700;
  font-size: 16px;
  line-height: 1;
  margin: 0;
  padding: 60px 48px 20px 20px;
}

.da-navigation-header.nav-header {
  display: flex;
  align-items: center;
  gap: 8px;
  padding-top: 60px;
  padding-bottom: 20px;
}

.da-navigation-header.nav-header p {
  padding: 0 0 0 20px;
}

.da-navigation-header.nav-header .nav-badges {
  margin-right: 20px;
}