:host {
  display: block;
  max-width: var(--grid-container-width);
  margin: 0 auto;
  padding: 80px 0;
}

h1 {
  font-size: 1.4rem;
  text-transform: uppercase;
  margin: 0px 0px 24px;
}

input, button {
  font-family: var(--body-font-family);
}

/* Item List */

.da-item-list {
  padding: 0;
  margin: 0;
  list-style: none;
  border: 1px solid rgb(209, 209, 209);
  border-radius: 6px;
  overflow: hidden;
  background: #FFF;
}

.da-item-list-item {
  display: block;
  cursor: pointer;
  position: relative;
  margin-top: -1px;
}

.da-item-list-item:last-child {
  margin-bottom: -1px;
}

.da-item-list-item:before {
  display: block;
  content: '';
  height: 1px;
  background: #E5E5E5;
  margin: 0 18px;
}

.da-item-list-item:after {
  display: block;
  content: '';
  height: 1px;
  background: #E5E5E5;
  margin: 0 18px;
}

.da-item-list-item:hover {
  z-index: 1;
  background-color: rgb(228 240 255);
}

.da-item-list-item:hover::before {
  margin: 0;
  background-color: rgb(20, 122, 243);
}

.da-item-list-item:hover::after {
  margin: 0;
  background-color: rgb(20, 122, 243);
}

.da-item-list-item-inner {
  padding: 0 24px;
  display: flex;
  align-items: center;
  gap: 24px;
}

/* CHECKBOX */
.checkbox-wrapper {
  position: relative; 
}

input[type="checkbox"] {
  appearance:  none;
  position:  absolute; 
  top:  -4px; 
  left: -5px; 
  height:  20px; 
  width:  20px; 
}

.checkbox-label {
  display:  flex; 
  position:  relative;
  font-size:  20px; 
  font-weight:  400;
  align-items:  center; 
  justify-content:  flex-start;
}

.checkbox-label:before, 
.checkbox-label:after {
  pointer-events: none; 
}

.checkbox-label:before {
  display:  flex; 
  content: ' ';
  height:  18px; 
  width:  18px; 
  border-radius: 2px;
  background: rgb(221, 221, 221);
}

.checkbox-label:after {
  position: absolute;
  top: 3px;
  left: 5px;
  display: flex;
  content: " ";
  height: 12px;
  width: 12px;
  background: rgb(0, 0, 0);
  transform: scale(0);
  transition: transform 0.3s ease 0s;
}

.checkbox-label:after {
  height: 5px;
  width: 12px;
  left: 1px;
  border-bottom: 4px solid #FFF;
  border-left: 4px solid #FFF;
  background: none;
  transform: rotate(-45deg) scale(0);
  transition: transform 0.1s ease 0s, opacity 0.1s ease 0s;
  transform-origin: center center;
}

.checkbox-wrapper input[type="checkbox"]:checked + .checkbox-label:before {
  background: #1473E6;
}

.checkbox-wrapper input[type="checkbox"]:checked + .checkbox-label:after {
  opacity:  1; 
  transform: rotate(-45deg) scale(.8);
}



.da-item-list-item-title {
  display: flex;
  flex: 1 1 auto;
  gap: 24px;
  align-items: center;
  text-decoration: none;
  color: rgb(46, 46, 46);
  padding: 24px 0px;
}

.da-item-list-item-type {
  display: block;
  width: 32px;
  height: 32px;
}

.da-item-list-item-type-file {
    background: url('/blocks/browse/img/Smock_Document_18_N.svg') center / cover no-repeat;
}

.da-item-list-item-type-folder {
    background: url('/blocks/browse/img/Smock_Folder_18_N.svg') center / cover no-repeat;
}

.da-item-list-item-icon-html {
  background: url('/blocks/browse/img/Smock_FileHTML_18_N.svg') center / cover no-repeat;
}

.da-item-list-item-icon-jpg,
.da-item-list-item-icon-jpeg,
.da-item-list-item-icon-png,
.da-item-list-item-icon-svg {
  background: url('/blocks/browse/img/Smock_Image_18_N.svg') center / cover no-repeat;
}

.da-item-list-item-icon-json {
  background: url('/blocks/browse/img/Smock_FileData_18_N.svg') center / cover no-repeat;
}

/* Breadcrumbs */
.da-breadcrumb-list {
  margin: 0 0 12px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 12px 24px;
}

.da-breadcrumb-list-item {
  position: relative;
  display: block;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  padding: 0px 10px;
  line-height: 24px;
  background: #dcdcdc;
  border-radius: 6px;
  cursor: pointer;
}

.da-breadcrumb-list-item a {
  text-decoration: none;
  color: rgb(44, 44, 44);
}

.da-breadcrumb-list-item:last-child {
  cursor: unset;
}

.da-breadcrumb-list-item:after {
    position: absolute;
    right: -24px;
    top: 0;
    display: block;
    content: '';
    width: 24px;
    height: 24px;
    opacity: 0.5;
    background: url('/blocks/browse/img/Smock_ChevronRight_18_N.svg') center / cover no-repeat;
}

/* Actions */
.da-actions-create {
  margin: 0 0 12px;
  padding: 0;
  display: flex;
  list-style: none;
  position: relative;
}

.da-actions-create.menu .da-actions-menu {
  display: grid;
  gap: 6px;
}

.da-actions-create.upload .da-actions-new-button,
.da-actions-create.input .da-actions-new-button {
  display: none;
}

.da-actions-create.input .da-actions-input-container {
  display: flex;
}

.da-actions-file-container {
  display: none;
}

.da-actions-create.upload .da-actions-file-container {
  display: flex;
  gap: 12px;
}

.da-actions-input {
  border: 3px solid #FFF;
  border-radius: 6px;
  padding: 0 4px;
}

.da-actions-file-label {
  background: rgb(255, 255, 255);
  border: 2px solid;
  border-radius: 6px;
  padding: 0px 8px;
  color: rgb(6, 108, 231);
  font-size: 0.85rem;
  line-height: 20px;
  font-weight: 700;
}

.da-actions-file {
  display: none;
}

.da-actions-input-container {
  display: none;
  gap: 12px;
}

.da-actions-new-button,
.da-actions-button {
    position: relative;
    display: block;
    font-size: 14px;
    font-weight: 700;
    padding: 0px 10px;
    line-height: 24px;
    background: #EFEFEF;
    border: none;
    font-size: 14px;
    background-color: #cee4ff;
    color: #066ce7;
    border-radius: 6px;
    cursor: pointer;
}

.da-actions-new-button {
    text-transform: uppercase;
}

.da-actions-menu {
  display: none;
}

.da-actions-menu {
  position: absolute;
  left: -6px;
  top: 30px;
  margin: 0;
  padding: 0;
  list-style: none;
  background: #FFF;
  box-shadow: 0px 0px 5px 0px #b5b5b5;
  border-radius: 4px;
  padding: 6px;
  z-index: 100;
}

.da-actions-menu-item button {
  display: block;
  width: 100px;
  text-align: left;
  line-height: 28px;
  border: none;
  padding: 0px 10px;
  border-radius: 2px;
  background: transparent;
}

li.da-actions-menu-item button:hover {
  background: #EFEFEF;
}


/* DA ACTION BAR */
.da-action-bar {
  bottom: 12px;
  position: fixed;
  background: #BC1C74;
  min-height: 48px;
  border-radius: 6px;
  width: var(--grid-container-width);
  z-index: 1000;
  filter: drop-shadow(rgba(0, 0, 0, 0.15) 0px 1px 4px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px;
  box-sizing: border-box;
  color: #FFF;
  font-size: 14px;
}

.da-action-bar button {
  background: none;
  height: 32px;
  color: #FFF;
  border: none;
  border-radius: 4px;
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 0 12px;
}

.da-action-bar button:hover {
  background-color: rgba(255, 255, 255, 0.25);
}

.da-action-bar button img {
  display: block;
  width: 18px;
  height: 18px;
}

.da-action-bar-left-rail {
  margin-left: 14px;
  display: flex;
  align-items: center;
  gap: 12px;
}

.da-action-bar-right-rail {
  margin: 0px 3px;
  display: flex;
  gap: 8px;
}

.da-action-bar .hide-button {
  display: none;
}

/* Empty list */
.empty-list {
  border: 1px solid rgb(234, 234, 234);
  background-color: rgb(255, 255, 255);
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 400px;
}


@media (min-width: 900px) {
  .da-breadcrumb {
    display: flex;
    gap: 24px;
  }
}
