:host {
  display: block;
  color: var(--s2-gray-800);
}

.da-actions-create {
  padding: 0;
  display: flex;
  list-style: none;
  position: relative;
  top: 1px;
}

:host([variant="accent"]) .da-actions-create {
  top: 0;
}

.da-actions-new-button.nx-btn-accent {
  min-width: 88px;
}

.da-actions-new-button.nx-action-btn-icon {
  width: 24px;
  height: 24px;
  padding: 0;
  color: var(--s2-gray-900);

  &:disabled {
    color: var(--s2-gray-400);
    cursor: not-allowed;
    opacity: 1;
  }

  &[data-active] {
    background-color: var(--s2-gray-200);
  }
}

.da-actions-new-label {
  line-height: 1;
}

.da-actions-file {
  display: none;
}

nx-menu {
  --nx-menu-font-size: var(--s2-body-size-s);
}
