@import url('actions.css');

.browse {
    max-width: var(--grid-container-width);
    margin: 80px auto;
}

.da-breadcrumb-list {
    margin: 0 0 12px;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 12px 24px;
}

.da-breadcrumb-list-item {
    position: relative;
    display: block;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    padding: 0px 10px;
    line-height: 24px;
    background: #dcdcdc;
    border-radius: 6px;
    cursor: pointer;
}

.da-breadcrumb-list-item:last-child {
  cursor: unset;
}

.da-breadcrumb-list-item:after {
    position: absolute;
    right: -24px;
    top: 0;
    display: block;
    content: '';
    width: 24px;
    height: 24px;
    opacity: 0.5;
    background: url('./img/Smock_ChevronRight_18_N.svg') center / cover no-repeat;
}

.da-item-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.da-item-list-item {
    display: flex;
    align-items: center;
    padding: 24px 18px;
    gap: 24px;
    border-radius: 6px;
    border: 3px solid transparent;
    cursor: pointer;
}

.da-item-list-item:hover {
    border: 3px solid #066ce7;
}

.da-item-list-item input[type="checkbox"] {
  width: 16px;
  height: 16px;
  outline: 2px solid #bababa;
  appearance: none;
  border-radius: 2px;
}

.da-item-list-item input[type="checkbox"]:checked {
  background-color: #066ce7;
}

.da-item-list-item-title {
  display: flex;
  flex: 1 1 auto;
  gap: 12px;
  align-items: center;
}

.da-item-list-item-type {
    display: block;
    width: 32px;
    height: 32px;
}

.da-item-list-item:nth-child(odd) {
    background-color: #FBFBFB;
}

.da-item-list-item-type-file {
    background: url('./img/Smock_Document_18_N.svg') center / cover no-repeat;
}

.da-item-list-item-type-folder {
    background: url('./img/Smock_Folder_18_N.svg') center / cover no-repeat;
}

.da-rule {
    margin: 12px 0;
    border-width: 2px;
    border-style: solid;
    border-radius: 2px;
    border-color: #c7c7c7;
}

@media (min-width: 900px) {
  .da-breadcrumb {
    display: flex;
    gap: 24px;
  }
}
