.browse {
    max-width: var(--grid-container-width);
    margin: 80px auto;
}

.da-breadcrumb-actions {
    display: flex;
    gap: 24px;
}

.da-actions-container {
    margin: 0 0 12px;
    padding: 0;
    display: flex;
    list-style: none;
    position: relative;
}

.da-actions-input {
    border: 3px solid #FFF;
    border-radius: 6px;
    padding: 0 4px;
}

.da-actions-input-container {
    display: none;
    gap: 12px;
}

.da-actions-input-container.show-input {
    display: flex;
}

.da-breadcrumb-list {
    margin: 0 0 12px;
    padding: 0;
    display: flex;
    list-style: none;
    gap: 24px;
}

.da-breadcrumb-list-item,
.da-actions-new-button,
.da-actions-button {
    position: relative;
    display: block;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    padding: 0px 10px;
    line-height: 24px;
    background: #EFEFEF;
    border-radius: 6px;
    cursor: pointer;
}

.da-breadcrumb-list-item:after {
    position: absolute;
    right: -24px;
    top: 0;
    display: block;
    content: '';
    width: 24px;
    height: 24px;
    opacity: 0.5;
    background: url('./img/Smock_ChevronRight_18_N.svg') center / cover no-repeat;
}

.da-actions-new-button,
.da-actions-button {
    border: none;
    font-size: 14px;
    background-color: #cee4ff;
    color: #066ce7;
}
.da-actions-button {
    text-transform: unset;
}

.da-actions-menu {
  display: none;
}

.da-actions-menu {
  position: absolute;
  left: -6px;
  top: 30px;
  margin: 0;
  padding: 0;
  list-style: none;
  background: #FFF;
  box-shadow: 0px 0px 5px 0px #b5b5b5;
  border-radius: 4px;
}

.da-actions-menu.show-new {
  display: block;
}

li.da-actions-menu-item button {
  display: block;
  width: 100px;
  text-align: left;
  line-height: 28px;
  border: none;
  padding: 0px 10px;
  border-radius: 2px;
  background: transparent;
  text-transform: capitalize;
}

li.da-actions-menu-item button:hover {
  background: #EFEFEF;
}

li.da-actions-menu-item:last-child {
  padding-top: 0px
}

li.da-actions-menu-item {
  padding: 6px;
}

.da-actions-new-button.show-input {
    display: none;
}

.da-item-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.da-item-list-item {
    display: flex;
    align-items: center;
    padding: 24px 18px;
    gap: 12px;
    border-radius: 6px;
    border: 3px solid transparent;
    cursor: pointer;
}

.da-item-list-item:hover {
    border: 3px solid #066ce7;
}

.da-item-list-item-type {
    display: block;
    width: 32px;
    height: 32px;
}

.da-item-list-item:nth-child(odd) {
    background-color: #FBFBFB;
}

.da-item-list-item-type-file {
    background: url('./img/Smock_Document_18_N.svg') center / cover no-repeat;
}

.da-item-list-item-type-folder {
    background: url('./img/Smock_Folder_18_N.svg') center / cover no-repeat;
}

.da-rule {
    margin: 12px 0;
    border-width: 2px;
    border-style: solid;
    border-radius: 2px;
    border-color: #c7c7c7;
}
