:host {
  width: 40%;
}

.sl-inputfield {

  select {
    border: 1px solid var(--s2-gray-400, #d1d5db);
    background: none;
    font-size: var(--s2-body-xs-size, 12px);
    height: var(--form-input-height, 30px);
    appearance: none;
  }

  select:is(:focus, :focus-visible) {
    outline: none;
    border-color: var(--s2-blue-700, #5989ff);
    box-shadow: var(--s2-blue-200, #e5f0fe) 0px 0px 0px 3px;
  }

  .sl-inputfield-select-wrapper {
    position: relative;
  }
}