:host {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  top: 24px;
  left: 24px;
  z-index: 100;
  background: #FFF;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: rgb(181 181 181) 8px 8px 20px 0;
}

button {
  font-family: var(--body-font-family);
}

.da-version-preview {
  overflow: scroll;
  width: 100%;
}

.da-version-action-area {
  display: flex;
  justify-content: end;
  gap: 12px;
  padding: 20px;
  background: #EFEFEF;
  box-sizing: border-box;
}

.da-version-action-area button {
  display: inline-block;
  font-style: normal;
  cursor: pointer;
  padding: 5px 14px;
  line-height: 18px;
  font-size: 15px;
  border-radius: var(--s2-radius-300);
  outline-offset: 0;
  transition: outline-offset .2s;
  text-decoration: none;
  font-weight: 700;
  text-align: center;
  background: none;
  border: 2px solid #000;
  color: #000;
}

.da-version-action-area button.accent {
  background: var(--s2-blue-800);
  border: 2px solid var(--s2-blue-800);
  outline-color: var(--s2-blue-800);
  color: #FFF;
}

.da-sheet-data-tabs {
  display: flex;
  gap: 6px;
}

.sheet-tab {
  display: block;
  border: none;
  background: rgb(220 220 220);
  padding: 2px 4px;
  border-radius: 6px;
}

.sheet-tab.is-active {
  background: rgb(180 180 180);
}

.da-version-content {
  padding: 12px 24px 24px;
}

.table-wrapper {
  border: 2px solid rgb(177 177 177);
  border-radius: 8px;
  margin-top: 12px;
  display: none;
  overflow: hidden;
}

.table-wrapper.is-active {
  display: block;
}

table {
  margin: -2px;
  border-collapse: collapse;
  min-width: calc(100% + 4px);
}

table tr:first-child {
  font-weight: 700;
}

table tr:nth-child(odd) {
  background: #f9f9f9;
}

table tr:nth-child(even) {
  background: rgb(232 240 248);
}

td {
  padding: 4px 8px;
  border: 2px solid rgb(177 177 177);
}
