/* stylelint-disable property-no-vendor-prefix */
body {
  background: rgb(250 250 250);
}

.da-sheet-wrapper {
  max-width: 900px;
  margin: 0 auto;
  box-shadow: rgb(181 181 181) 0 0 20px 0;
  overflow: scroll;
}

.jcontextmenu {
  position:fixed;
  z-index:10000;
  background:#fff;
  color: #555;
  font-size: 11px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -webkit-box-shadow: 2px 2px 2px 0 rgba(143 144 145 100%);
  -moz-box-shadow: 2px 2px 2px 0 rgba(143 144 145 100%);
  box-shadow: 2px 2px 2px 0 rgba(143 144 145 100%);
  border: 1px solid #C6C6C6;
  padding: 0;
  padding-top:4px;
  padding-bottom:4px;
  margin:0;
  outline:none;
  display:none;
}

/* jspreadsheets overwrites */
.da-sheet-wrapper .jcontextmenu {
  border-radius: 6px;
  box-shadow: rgb(181 181 181) 0 0 20px 0;
}

.jcontextmenu > div {
  box-sizing: border-box;
  display: flex;
  padding: 8px 8px 8px 32px;
  width: 250px;
  position: relative;
  cursor: default;
  font-size: 11px;
  font-family:sans-serif;
  text-align: left;
  -webkit-box-align: center;
  align-items: center;
}

.da-sheet-wrapper .jcontextmenu > div {
  padding: 8px 8px 8px 16px;
  font-family: var(--body-font-family);
  font-size: 14px;
}

/* stylelint-disable-next-line selector-class-pattern */
.da-sheet-wrapper .jexcel_container {
  display: block;
  padding-right: 0;
}

/* stylelint-disable-next-line selector-class-pattern */
.da-sheet-wrapper .jexcel_content {
  display: block;
  padding-right: 1px;
  padding-bottom: 1px;
}

/* JSuites Context Menu */

.jcontextmenu.jcontextmenu-focus {
  display:inline-block;
}

.jcontextmenu > div::before {
  content: attr(data-icon);
  /* stylelint-disable-next-line font-family-no-missing-generic-family-keyword */
  font-family: 'Material Icons' !important;
  font-size: 15px;
  position: absolute;
  left: 9px;
  line-height: 24px;
}

.jcontextmenu.symbols > div::before {
  /* stylelint-disable-next-line font-family-no-missing-generic-family-keyword */
  font-family: 'Material Symbols Outlined' !important;
}

.jcontextmenu > div.header {
  display: none;
}

.jcontextmenu > div a {
  color: #555;
  text-decoration: none;
  flex: 1;
  cursor: pointer;
}

.jcontextmenu > div span {
  margin-right: 10px;
  font-size: 0.9em;
}

.jcontextmenu .jcontextmenu-disabled a {
  color: #ccc;
}

.jcontextmenu .jcontextmenu-disabled::before {
  color: #ccc;
}

.jcontextmenu > div:hover {
  background: #ebebeb;
}

.jcontextmenu hr {
  border: 1px solid #e9e9e9;
  border-bottom: 0;
  margin-top:5px;
  margin-bottom:5px;
}

.jcontextmenu > hr:hover {
  background: transparent;
}

.jcontextmenu .jcontextmenu {
  top: 4px;
  left: 99%;
  opacity: 0;
  position: absolute;
}

.jcontextmenu > div:hover > .jcontextmenu {
  display: block;
  opacity: 1;
  -webkit-transform: translate(0, 0) scale(1);
  transform: translate(0, 0) scale(1);
  pointer-events: auto;
}

@media only screen and (max-width: 420px) {
  .jcontextmenu {
      top: initial !important;
      left: 0 !important;
      bottom: 0 !important;
      width: 100vw;
      height: 260px;
      overflow: scroll;
      animation: slide-bottom-in 0.4s forwards;
      padding-top: 0;
  }

  .jcontextmenu div {
      width: 100%;
      text-align: center;
      border-bottom: 1px solid #ccc;
      padding: 15px;
  }

  .jcontextmenu > div.header {
      background-color: lightgray;
      padding: 5px;
      top: 0;
      position: sticky;
      z-index: 2;
  }

  .jcontextmenu > div.header > a.title {
      text-align: left;
  }

  .jcontextmenu > div.header > a.close {
      text-align: right;
  }

  .jcontextmenu a {
      font-size: 1.4em;
      text-transform: uppercase;
  }

  .jcontextmenu span {
      display: none;
  }

  .jcontextmenu hr {
      display: none;
  }
}
