.da-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.da-content img[src$=".svg"] {
  background-color: #fff;
}

.da-content img,
.da-content video,
.da-pdf-media {
  object-fit: contain;
  max-width: 100%;
  height: 600px;
  box-shadow: var(--s2-gray-400) 0 0 20px 0;
}

.da-pdf-media {
  margin: 0 auto;
  height: 800px;
}

@media (width >= 900px) {
  .da-content img,
  .da-pdf-media {
    max-width: 900px;
  }
}
