@import url('./styles/toolbar.css');
@import url('./styles/editor.css');
@import url('./styles/palette.css');

.da-header-wrapper {
  grid-template-columns: 1fr var(--grid-container-width) 1fr;
  grid-template-areas: 'details name actions';
  align-items: center;
  background-color: #FFF;
}

.da-header {
  position: relative;
  padding: 36px 24px 36px 72px;
  grid-area: name;
}

.da-header-actions {
  grid-area: name;
  justify-self: end;
  position: relative;
  border: 12px solid transparent;
  
  border-radius: 100px;
  display: flex;
  gap: 12px;
}

.da-header-actions.is-open {
  background: #EFEFEF;
}

.da-header-actions-publish {
  display: none;
  border-radius: 22px;
}

.da-header-actions.is-open
.da-header-actions-publish {
  display: unset;
}

.da-header-actions-send {
  width: 44px;
  height: 44px;
  border-radius: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.da-header-actions-send-icon {
  display: block;
  width: 22px;
  height: 22px;
  background: url(./img/Smock_Send_18_N.svg) center / 22px no-repeat;
}

.da-editor {
  position: relative;
  background: #FFF;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr var(--grid-container-width) 1fr;
  grid-template-areas: 'toolbar editor palettes';
}

.da-header:before {
    content: 'Doc';
}

.da-header:before,
.ProseMirror:before,
.da-meta:before {
    top: 24px;
    left: 72px;
    position: absolute;
    text-transform: uppercase;
    font-weight: 700;
    color: #afafaf;
}

.da-editor .ProseMirror:before {
  left: 0;
    content: 'content';
}

.da-meta {
    position: relative;
    padding: 60px 0;
    margin: 0 auto;
    max-width: var(--grid-container-width);
}

.da-meta:before {
    content: 'meta';
}

.da-button-group {
  position: relative;
}

.ProseMirror-menu-disabled {
  opacity: 0.5;
}

.da-button-group.expand .da-button-pallette-heading {
  display: flex;
}

.da-button-pallette-heading {
  position: absolute;
  left: 60px;
  background: #FFF;
  padding: 6px;
  top: 50%;
  display: none;
  flex-wrap: wrap;
  width: 144px;
  transform: translateY(-50%);
  box-shadow: 0px 0px 5px 0px #b5b5b5;
  border-radius: 4px;
  gap: 6px;
}

.da-button-pallette-heading button {
  margin-bottom: 0px;
}

.ProseMirror-focused {
  outline: none;
}

table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}

table tr:first-child td,
table tr:first-child th {
  background: aliceblue;
  text-align: center;
  font-weight: 700;
}

table td {
  border: 3px solid #d0d0d0;
  border-radius: 3px;
  margin: 3px;
  vertical-align: top;
  min-width: 100px;
}

td.selectedCell {
  border: 3px solid #60c175;
}

/* General Editor Styles */

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    80% {
        opacity: 0;
    }
    100% {
      visibility: visible;
      opacity: 1;
    }
  }

.da-editor-tool-library {
    background: url('./img/Smock_CCLibrary_18_N.svg') center / 18px no-repeat #EFEFEF;
}

.da-button-pallette-link button {
  line-height: 44px;
  border: none;
  border-radius: 3px;
}

.da-pallette-button-split {
  display: none;
}

.wysihtml-command-active {
  display: unset;
  background-color: rgb(178, 215, 178);
}

.da-button-pallette-link {
  display: flex;
  justify-content: end;
}

input.da-pallette-input {
  flex: 1 1 auto;
  line-height: 44px;
  border: none;
  background: #efefef;
  padding: 0 12px;
}

.da-pallette-button {
  border: none;
}

.da-pallette-button-ok {
  background: #ace0c2;
}

.da-pallette-button-destroy {
  display: none;
  border-radius: 3px;
  background: #ffbdbd;
}

.da-pallette-button-destroy.wysihtml-command-active {
  display: unset;
}

@media (min-width: 900px) {
  .da-header-wrapper {
    display: grid;
  }

    .da-header:before,
    .da-editor:before,
    .da-meta:before {
        top: 40px;
        left: 0;
    }

    .da-header {
      padding: 60px 0;
    }

    .da-toolbar-extras > div {
      flex: unset;
    }

    input.da-pallette-input {
      width: 400px;
    }
}
