.da-header-wrapper {
  grid-template-columns: 1fr var(--grid-container-width) 1fr;
  grid-template-areas: 'details name actions';
  align-items: center;
  background-color: #FFF;
}

.da-header {
  position: relative;
  padding: 36px 24px 36px 72px;
  grid-area: name;
}

.da-header-actions {
  grid-area: name;
  justify-self: end;
  position: relative;
  border: 12px solid transparent;
  
  border-radius: 100px;
  display: flex;
  gap: 12px;
}

.da-header-actions.is-open {
  background: #EFEFEF;
}

.da-header-actions-publish {
  display: none;
  border-radius: 22px;
}

.da-header-actions.is-open
.da-header-actions-publish {
  display: unset;
}

.da-header-actions-send {
  width: 44px;
  height: 44px;
  border-radius: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.da-header-actions-send-icon {
  display: block;
  width: 22px;
  height: 22px;
  background: url(./img/Smock_Send_18_N.svg) center / 22px no-repeat;
}

.da-editor-wrapper {
  position: relative;
  background: #FFF;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr var(--grid-container-width) 1fr;
  grid-template-areas: 'toolbar editor palettes';
}

.da-editor {
  position: relative;
  padding: 72px 0 72px 72px;
  grid-area: editor;
}

.da-editor:focus {
    border: none;
    outline: none;
}

.da-header:before {
    content: 'EDIT';
}

.da-header:before,
.da-editor:before,
.da-meta:before {
    top: 24px;
    left: 72px;
    position: absolute;
    text-transform: uppercase;
    font-weight: 700;
    color: #afafaf;
}

.da-editor:before {
    content: 'content';
}

.da-meta {
    position: relative;
    padding: 60px 0;
    margin: 0 auto;
    max-width: var(--grid-container-width);
}

.da-meta:before {
    content: 'Page Meta';
}

.da-toolbar {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  left: -6px;
  padding: 6px 6px 6px 12px;
  border-radius: 4px;
  box-shadow: 0px 0px 5px 0px #b5b5b5;
  background: #FFF;
  width: 62px;
  box-sizing: border-box;
  grid-area: toolbar;
  z-index: 1;
}

.da-editor-tool {
    position: relative;
    width: 44px;
    height: 44px;
    display: block;
    border: none;
    margin-bottom: 6px;
}

.da-editor-tool:after {
    position: absolute;
    content: attr(data-label);
    top: 50%;
    left: 60px;
    line-height: 32px;
    background-color: #EFEFEF;
    white-space: nowrap;
    padding: 0 8px;
    border-radius: 2px;
    transform: translateY(-50%);
    box-shadow: 0px 0px 2px 0px #b5b5b5;
    visibility: hidden;
}

.da-editor-tool:hover:after {
    animation: 1s fadeIn;
    animation-fill-mode: forwards;
}

.da-toolbar-extras {
  position: fixed;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  bottom: 20px;
  left: 0;
  right: 0;
  gap: 6px;
  z-index: 1;
}

.da-toolbar-extras > div {
  flex: 1 1 auto;
  display: flex;
  padding: 6px;
  background: #fff;
  box-shadow: 0px 0px 5px 0px #b5b5b5;
  border-radius: 4px;
  gap: 6px;
}

.da-button-group {
  position: relative;
}

.da-button-group.expand .da-button-pallette-heading {
  display: flex;
}

.da-button-pallette-heading {
  position: absolute;
  left: 60px;
  background: #FFF;
  padding: 6px;
  top: 50%;
  display: none;
  flex-wrap: wrap;
  width: 144px;
  transform: translateY(-50%);
  box-shadow: 0px 0px 5px 0px #b5b5b5;
  border-radius: 4px;
  gap: 6px;
}

.da-button-pallette-heading button {
  margin-bottom: 0px;
}

.ProseMirror-menubar {
  display: flex;
  height: 32px;
  align-items: center;
  gap: 12px;
}

.ProseMirror-menu-dropdown-wrap {
  display: relative;
}

.ProseMirror-menu-dropdown-menu {
  padding: 6px 10px;
  background: #FFF;
  border: 1px solid #EFEFEF;
  position: absolute;
  top: 32px;
}

span.ProseMirror-menuseparator {
  width: 2px;
  background: #dfdfdf;
  height: 32px;
  border-radius: 2px;
}

.ProseMirror-focused {
  outline: none;
}

table {
  width: 100%;
  border-spacing: 6px;
}

table tr:first-child td,
table tr:first-child th {
  background: aliceblue;
  text-align: center;
  font-weight: 700;
}

table td {
  border: 3px dotted #d0d0d0;
  border-radius: 3px;
  margin: 3px;
  vertical-align: top;
  min-width: 100px;
}

td.selectedCell {
  border: 3px dotted #60c175;
}

.da-edit hr {
  border-radius: 1px;
  border: 1px solid #b3b3b3;
  position: relative;
  overflow: visible;
}

.da-edit hr:after {
  left: 50%;
  position: absolute;
  content: 'Section Break';
  text-transform: uppercase;
  background: rgb(255,255,255);
  top: -14.25px;
  /* z-index: 100000000; */
  font-weight: 700;
  color: #b3b3b3;
  padding: 0 6px;
  font-size: 12px;
  transform: translateX(-50%);
}

/* General Editor Styles */

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    80% {
        opacity: 0;
    }
    100% {
      visibility: visible;
      opacity: 1;
    }
  }

.da-editor-tools hr {
    border: 1px solid #c9c9c9;
    border-radius: 1px;
}

.da-editor-tool:last-child {
    margin-bottom: 0;
}

.da-editor-tool-h {
  background: url('./img/Smock_Heading_18_N.svg') center / 18px no-repeat #EFEFEF;
}

.da-editor-tool-h1 {
  background: url('./img/Smock_Heading1_18_N.svg') center / 18px no-repeat #EFEFEF;
}

.da-editor-tool-h2 {
  background: url('./img/Smock_Heading2_18_N.svg') center / 18px no-repeat #EFEFEF;
}

.da-editor-tool-h3 {
  background: url('./img/Smock_Heading3_18_N.svg') center / 18px no-repeat #EFEFEF;
}

.da-editor-tool-h4 {
  background: url('./img/Smock_Heading4_18_N.svg') center / 18px no-repeat #EFEFEF;
}

.da-editor-tool-h5 {
  background: url('./img/Smock_Heading5_18_N.svg') center / 18px no-repeat #EFEFEF;
}

.da-editor-tool-h6 {
  background: url('./img/Smock_Heading6_18_N.svg') center / 18px no-repeat #EFEFEF;
}

.da-editor-tool-b {
  background: url('./img/Smock_TextBold_18_N.svg') center / 18px no-repeat #EFEFEF;
}

.da-editor-tool-i {
  background: url('./img/Smock_TextItalic_18_N.svg') center / 18px no-repeat #EFEFEF;
}

.da-editor-tool-ul {
    background: url('./img/Smock_TextBulleted_18_N.svg') center / 18px no-repeat #EFEFEF;
}

.da-editor-tool-ol {
    background: url('./img/Smock_TextNumbered_18_N.svg') center / 18px no-repeat #EFEFEF;
}

.da-editor-tool-a {
    background: url('./img/Smock_Link_18_N.svg') center / 18px no-repeat #EFEFEF;
}

.da-editor-tool-img {
  background: url('./img/Smock_Image_18_N.svg') center / 18px no-repeat #EFEFEF;
}

.da-editor-tool-hr {
    background: url('./img/Smock_PageRule_18_N.svg') center / 18px no-repeat #EFEFEF;
}

.da-editor-tool-block {
    background: url('./img/Smock_Table_18_N.svg') center / 18px no-repeat #EFEFEF;
}

.da-editor-tool-library {
    background: url('./img/Smock_CCLibrary_18_N.svg') center / 18px no-repeat #EFEFEF;
}

.da-button-pallette-link button {
  line-height: 44px;
  border: none;
  border-radius: 3px;
}

.da-pallette-button-split {
  display: none;
}

.wysihtml-command-active {
  display: unset;
  background-color: rgb(178, 215, 178);
}

/* Editor Styles */
.da-editor.wysihtml-editor > *:first-child {
  margin-top: 0;
}

.da-button-pallette-link {
  display: flex;
  justify-content: end;
}

input.da-pallette-input {
  flex: 1 1 auto;
  line-height: 44px;
  border: none;
  background: #efefef;
  padding: 0 12px;
}

.da-pallette-button {
  border: none;
}

.da-pallette-button-ok {
  background: #ace0c2;
}

.da-pallette-button-destroy {
  display: none;
  border-radius: 3px;
  background: #ffbdbd;
}

.da-pallette-button-destroy.wysihtml-command-active {
  display: unset;
}

@media (min-width: 900px) {
  .da-header-wrapper {
    display: grid;
  }

    .da-header:before,
    .da-editor:before,
    .da-meta:before {
        top: 40px;
        left: 0;
    }

    .da-header {
      padding: 60px 0;
    }

    .da-editor {
      padding: 100px 0;
    }

    .da-toolbar-extras > div {
      flex: unset;
    }

    input.da-pallette-input {
      width: 400px;
    }
}
