iframe {
  display: block;
  width: 375px;
  min-height: 844px;
  margin: 0 auto;
  border: none;
  box-shadow: rgb(181 181 181) 0 0 20px 0;
  overflow: hidden;
}

.da-preview-menubar {
  --editor-btn-bg-color: #EFEFEF;
  --editor-btn-bg-color-hover: #e9e9e9;

  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  right: 12px;
  padding: 6px 6px 0;
  border-radius: 4px;
  box-shadow: rgb(181 181 181) 0 0 5px 0;
  background: rgb(255 255 255);
  box-sizing: border-box;
  grid-area: toolbar;
  z-index: 1;
}

.da-preview-menuitem {
  display: block;
  width: 44px;
  height: 44px;
  text-indent: -1000px;
  overflow: hidden;
  border-radius: 2px;
  margin-bottom: 6px;
  background-color: rgb(239 239 239);
}

.da-preview-menuitem {
  background: url("/blocks/edit/img/Smock_Close_18_N.svg") center center / 20px no-repeat var(--editor-btn-bg-color);
}

.da-preview-menuitem:hover {
  background-color: var(--editor-btn-bg-color-hover) !important;
}

.set-mobile {
  background: url('/blocks/edit/img/Smock_DevicePhone_18_N.svg') center / 18px no-repeat var(--editor-btn-bg-color);
}

.set-tablet {
  background: url('/blocks/edit/img/Smock_DeviceTablet_18_N.svg') center / 18px no-repeat var(--editor-btn-bg-color);
}

.set-laptop {
  background: url('/blocks/edit/img/Smock_DeviceLaptop_18_N.svg') center / 18px no-repeat var(--editor-btn-bg-color);
}

.set-desktop {
  background: url('/blocks/edit/img/Smock_DeviceDesktop_18_N.svg') center / 18px no-repeat var(--editor-btn-bg-color);
}
