:host {
  --form-input-height: 30px;
  --focus-visible-offset: 0px;

  display: block;
  min-height: 400px;
  box-shadow: rgb(181 181 181 / 50%) 0 0 10px;
  border-radius: 8px;
  /* Use page scroll so header can reach window top, sidebar remains independent */
  overflow: visible;

  .form-header {
    border-bottom: 1px solid #e5e7eb;
    margin-bottom: 20px;
    position: sticky;
    top: 0;
    z-index: 1;
    background: #fff;

    h2 {
      font-size: 16px;
      line-height: 1;
      margin: 0;
      padding: 24px 48px;
    }
  }

  p {
    margin: 0;
    line-height: 1;
  }

  .da-form-title {
    line-height: 1;
    font-weight: 700;
    margin: 0 0 8px;
  }

  form {
    padding: 0 48px 48px;

    .item-group {
      position: relative;

      &[active]::before {
        content: "";
        position: absolute;
        left: -48px;
        top: 0;
        bottom: 0;
        width: 3px;
        background-color: var(--s2-blue-900);
        box-shadow: none;
        z-index: 1;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
      }

      &:not(:first-child) {
        .item-title {
          margin-top: 20px;
        }
      }

      .item-title {
        font-weight: 600;
        line-height: 1.5em;
        padding-bottom: 15px;
        position: relative;
        margin-bottom: 20px;

        &::before {
          content: "";
          position: absolute;
          left: 0px;
          bottom: 1px;
          height: 3px;
          width: 55px;
          background-color: var(--s2-gray-800);
        }

        &::after {
          content: "";
          position: absolute;
          left: 0px;
          bottom: 2px;
          height: 1px;
          width: 100%;
          background-color: var(--s2-gray-800);
        }
      }

      .form-children {

        .form-input {
          margin-bottom: 10px;
        }

        /* control visuals moved to component-level shadow sheet (form-elements.css) */

        sl-select-extended {
          width: 33%;
          max-width: 100%;
          min-width: 33%;
          position: inherit;

          ::part(wrapper) {
            width: 100%;
            position: inherit;
          }

        }
      }
    }
  }
}