:host {
  display: block;
  /* Make sidebar scroll independently of the page/editor */
  max-height: calc(100vh - 84px);
  overflow: auto;

  p {
    line-height: 1;
  }

  sl-select {
    margin-bottom: 12px;
  }

  .da-sidebar-section {
    margin-bottom: 16px;
  }

  .da-sidebar-header {
    border-bottom: 1px solid #e5e7eb;
    margin-bottom: 20px;
    position: sticky;
    top: 0;
    z-index: 1;
    background: #fff;
  }

  .da-sidebar-header p {
    font-weight: 700;
    font-size: 16px;
    line-height: 1;
    margin: 0;
    padding: 24px 48px 24px 20px;
  }
}

.nav-list {
  font-size: var(--s2-body-s-size, 14px);
}

.nav-list,
.nav-list ul,
.nav-list li {
  position: relative;
}

.nav-list li {
  scroll-margin-top: var(--sidebar-header-height, 0px);
}

.nav-list {
  line-height: 28px;

  ul {
    list-style: none;
    padding-left: 22px;
  }

  sidebar-item {
    display: inline-block;
    line-height: 1.2;

    &:first-child {
      margin-left: 4px;
    }
  }

  sidebar-item::before {
    content: "";
    position: absolute;
    top: 12px;
    left: -12px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #dadfe6;
  }

  /* Active sidebar item */
  sidebar-item[active] {
    color: var(--s2-blue-900);
  }

  sidebar-item[active]::before {
    background-color: var(--s2-blue-900);
  }

  li::before,
  li::after {
    content: "";
    position: absolute;
    left: -32px;
  }

  li::before {
    border-top: 1px dotted #dadfe6;
    top: 14px;
    width: 24px;
    height: 0;
  }

  li::after {
    border-left: 1px dotted #dadfe6;
    width: 0;
    bottom: 0;
    top: -14px;
  }

  >ul>li:first-child::after {
    top: 12px;
  }

  ul>li:last-child::after {
    height: 28px;
    top: -14px;
  }

  >ul:first-child>li:first-child {
    &::before {
      display: none;
    }

    &::after {
      display: none;
    }
  }
}