button {
  font-family: var(--body-font-family);
}

.da-action-bar {
  bottom: 12px;
  position: fixed;
  background-color: var(--s2-blue-900);
  min-height: 48px;
  border-radius: var(--s2-corner-radius-500);
  width: var(--se-grid-container-width);
  z-index: 400;
  filter: drop-shadow(rgb(0 0 0 / 15%) 0 1px 4px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--s2-spacing-200);
  box-sizing: border-box;
  color: #FFF;
  font-size: 14px;
}

.da-action-bar button {
  background: none;
  height: 32px;
  color: #FFF;
  border: none;
  border-radius: var(--s2-corner-radius-500);
  display: flex;
  align-items: center;
  gap: var(--s2-spacing-100);
  padding: 0 var(--s2-spacing-100);
}

.da-action-bar button:hover {
  background-color: rgb(255 255 255 / 25%);
}

.da-action-bar button svg {
  display: block;
  width: 16px;
  height: 16px;
}

.da-action-bar-left-rail {
  margin-left: 3px;
  display: flex;
  align-items: center;
  gap: var(--s2-spacing-100);
}

.da-action-bar-right-rail {
  margin-right: 3px;
  display: flex;
  gap: 8px;
}

.da-action-bar.hide,
.da-action-bar .hide {
  display: none;
}
