:host {
  --library-width: 280px;
  --inline-spacing: 14px;
  --item-height: 44px;
  --icon-spacing: 8px;

  display: block;
  border-radius: 12px;
  width: var(--library-width);
  height: 430px;
  background: #FFF;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 5px 0 #b5b5b5;

  svg {
    fill: currentcolor;
  }

  > svg {
    display: none;
  }

  input, button {
    font-family: var(--body-font-family);
    font-weight: 400;
  }

  button {
    padding: 0;
    border: none;
    cursor: pointer;
  }

  input::placeholder {
    font-style: italic;
    color: #a8a8a8;
  }

  p {
    margin: 0;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  iframe {
    border: none;
    display: block;
    width: 100%;
    height: 100%;
  }

  .icon {
    width: 20px;
    height: 20px;
    flex: 0 0 auto;
  }

  button span,
  button svg,
  button img {
    pointer-events: none;
  }
}

#library-close {
  position: absolute;
  z-index: 10000;
  top: 6px;
  right: 6px;
  width: 32px;
  height: 32px;
  border: none;
  border-radius: 16px;
  display: block;
  background: rgb(255 255 255 / 80%) url("/blocks/edit/img/Smock_Close_18_N.svg") center / 18px no-repeat;
}

/* Shared between main menu & inline plugin panes */
.library-pane {
  position: absolute;
  inset: 0;
  transition: transform .2s ease-in-out;
  overflow-y: scroll;

  .pane-header {
    display: flex;
    align-items: center;
    height: 44px;
    padding: 0 14px;
    gap: 6px;

    .pane-back {
      display: block;
      text-indent: -1000px;
      width: 18px;
      height: 18px;
      border: none;
      background: url('/blocks/edit/img/library-back.svg') center / 18px no-repeat;
    }

    p.pane-title {
      margin: 0;
      line-height: 1;
      font-size: 18px;
      font-weight: 700;
      text-transform: capitalize;
    }
  }

  &.forward {
    transform: translateX(var(--library-width));
  }

  &.backward {
    transform: translateX(calc(var(--library-width) * -1));
  }
}

.main-menu-pane {
  font-size: 18px;
}

.library-search {
  position: relative;
  padding: 0 var(--inline-spacing);
  z-index: 100;

  #search {
    width: 100%;
    line-height: var(--item-height);
    font-size: inherit;
    padding: 0 0 0 32px;
    border: none;
    background: url('/blocks/edit/img/Smock_Search_18_N.svg') 4px center / 18px no-repeat;
    box-sizing: border-box;
    border-bottom: 1px solid #D1D1D1;

    &:focus-visible {
      outline: none;
      border-bottom: 1px solid var(--s2-blue-900);
    }

    &:focus-visible::placeholder {
      color: var(--s2-blue-900);
    }
  }
}

ul.library-main-menu-list {
  button.library-main-menu-btn {
    position: relative;
    min-height: var(--item-height);
    display: flex;
    align-items: center;
    gap: var(--icon-spacing);
    width: 100%;
    text-align: left;
    margin: -1px 0;
    padding: 0 var(--inline-spacing);
    box-sizing: border-box;
    transition: background-color 0.2s ease-in-out;

    img.icon,
    svg.icon {
      margin-left: 3px;
    }

    &::before {
      position: absolute;
      inset: 0 var(--inline-spacing) auto;
      content: "";
      height: 1px;
      background: rgb(209 209 209);
      transition: 0.2s ease-in-out;
    }

    &::after {
      position: absolute;
      inset: auto var(--inline-spacing) 0;
      content: "";
      height: 1px;
      background: rgb(209 209 209);
      transition: 0.2s ease-in-out;
    }

    &:hover {
      color: rgb(22 122 243);
      background: rgb(228 240 255);
      z-index: 105;

      &::before {
        inset: 0 0 auto;
        background: rgb(22 122 243);
      }

      &::after {
        inset: auto 0 0;
        background: rgb(22 122 243);
      }
    }
  }
}

ul.library-plugin-list {
  button {
    color: inherit;

    &.preview,
    &.tooltip,
    &.add {
      opacity: 0;
      transition: 0.2s ease-in-out;
    }

    &.tooltip {
      margin-top: 2px;
    }
  }

  li.library-plugin-list-item {
    margin: -1px 0;

    .library-plugin-list-item-header {
      position: relative;
      padding: 0 var(--inline-spacing);
      width: 100%;
      display: flex;
      align-items: center;
      gap: var(--icon-spacing);
      box-sizing: border-box;
      transition: background-color 0.2s ease-in-out;

      button.item-title {
        display: block;
        flex: 1 1 auto;
        min-height: var(--item-height);
        text-align: left;
        padding-left: 4px;
        color: inherit;
      }

      &::before {
        position: absolute;
        inset: 0 var(--inline-spacing) auto;
        content: "";
        height: 1px;
        background: rgb(209 209 209);
        transition: 0.2s ease-in-out;
      }

      &::after {
        position: absolute;
        inset: auto var(--inline-spacing) 0;
        content: "";
        height: 1px;
        background: rgb(209 209 209);
        transition: 0.2s ease-in-out;
      }

      &:hover {
        color: rgb(22 122 243);
        background: rgb(228 240 255);
        z-index: 105;

        &::before {
          inset: 0 0 auto;
          background: rgb(22 122 243);
        }

        &::after {
          inset: auto 0 0;
          background: rgb(22 122 243);
        }

        button {
          opacity: 1;
        }
      }
    }
    
    ul.library-plugin-list-item-details {
      display: none;
    }

    &.is-open {
      position: relative;
      background-color: var(--s2-gray-50);

      ul.library-plugin-list-item-details {
        display: unset;
      }

      button.expand {
        transform: rotate(90deg);
      }

      &::before {
        position: absolute;
        inset: auto 0 0;
        content: "";
        height: 1px;
        background: rgb(209 209 209);
        transition: 0.2s ease-in-out;
      }

      &::after {
        position: absolute;
        inset: 0 0 auto;
        content: "";
        height: 1px;
        background: rgb(209 209 209);
        transition: 0.2s ease-in-out;
      }
    }
  }
}

/* Shared between block and variations */
.library-plugin-list-item-actions,
.library-plugin-detail-item-actions {
  display: flex;
  align-items: center;
  gap: var(--icon-spacing);

  button {
    display: flex;
    align-items: center;
    height: 44px;

    &.expand {
      transition: transform 0.2s ease-in-out;
    }
  }
}

/* Block variation details */
li.library-plugin-detail-item {
  display: flow-root;

  .library-plugin-detail-item-header {
    display: flex;
    align-items: center;
    padding: 0 var(--inline-spacing);
    gap: var(--icon-spacing);

    p {
      margin-left: 4px;
    }

    .icon {
      + p {
        margin-left: unset;
      }
    }
  }

  button.library-plugin-detail-item-title {
    width: 100%;
    flex: 1 1 auto;
    text-align: left;
    padding: 12px 0;
  }

  &:hover {
    color: rgb(22 122 243);
    background: rgb(228 240 255);
    z-index: 105;

    button {
      &.preview,
      &.tooltip,
      &.add {
        opacity: 1;
      }
    }
  }

  .da-library-item-description {
    display: none;
    font-size: 12px;
    margin: 4px var(--inline-spacing) 12px;
    background: rgb(0 0 0 / 5%);
    padding: 6px 10px;
    border-radius: 6px;
    box-sizing: border-box;
    color: var(--s2-gray-900);

    &.is-visible {
      display: block;
    }
  }
}

/* BYO Plugin Pane */
.plugin-type-byo {
  display: grid;
  grid-template-rows: auto 1fr;
}
