footer {
  background: #FFF;
}

.footer-inner {
  max-width: var(--grid-container-width);
  margin: 0 auto;
  padding: 40px 0;
  font-size: 14px;
}

.footer-inner ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-inner p {
  margin: 0;
}

@media (min-width: 900px) {
  .footer-inner ul {
    display: flex;
    gap: 6px;
    justify-content: end;
  }
  
  .footer-inner li {
    display: flex;
  }
  
  .footer-inner li:not(li:first-of-type)::before {
    display: block;
    content: '/';
    margin-right: 6px;
  }
}
