:host {
  position: relative;
  display: grid;
  grid-template-columns: minmax(80px, 1fr) auto 0 auto minmax(80px, 1fr);
  grid-template-areas: "left editor gap preview right";
  justify-content: center;
}

:host(.show-preview) {
  grid-template-columns: minmax(80px, 1fr) auto 20px auto minmax(80px, 1fr);
}

da-editor {
  grid-area: editor;
  max-width: 900px;
  z-index: 1;
}

da-preview {
  visibility: hidden;
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
  grid-area: preview;
  justify-self: right;
}

da-preview.show-preview {
  visibility: unset;
  position: relative;
  width: unset;
  height: unset;
  overflow: unset;
}

.da-preview-menubar {
  position: absolute;
  top: 20px;
  padding: 6px 6px 0px;
  border-radius: 4px;
  box-shadow: rgb(181, 181, 181) 0px 0px 5px 0px;
  background: rgb(255, 255, 255);
  box-sizing: border-box;
  grid-area: preview;
  left: -6px;
}

:host(.show-preview) .da-preview-menubar {
  display: none;
}

.da-preview-menuitem {
  display: block;
  width: 50px;
  height: 44px;
  text-indent: -1000px;
  overflow: hidden;
  border-radius: 2px;
  margin-bottom: 6px;
  background-color: rgb(239, 239, 239);
}

.da-preview-menuitem.show-preview {
  background: url("/blocks/edit/img/Smock_Preview_18_N.svg") center center / 20px no-repeat rgb(239, 239, 239);
  background-blend-mode: hard-light;
}
