:host {
  position: relative;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.editor-wrapper {
  position: relative;
  flex: 0 1 auto;
  width: var(--grid-container-width);
}

da-editor {
  position: relative;
  z-index: 1;
}

da-preview,
da-versions {
  visibility: hidden;
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
  justify-self: right;
}

da-preview.show-preview,
da-versions.show-versions {
  visibility: unset;
  position: relative;
  width: unset;
  height: unset;
  overflow: unset;
}

.da-preview-menubar,
.da-versions-menubar {
  display: none;
  position: absolute;
  top: 20px;
  padding: 6px 6px 0px;
  border-radius: 4px;
  box-shadow: rgb(181, 181, 181) 0px 0px 5px 0px;
  background: rgb(255, 255, 255);
  box-sizing: border-box;
  right: -56px;
}


:host(.show-preview) .da-preview-menubar {
  display: none;
}

:host(.show-versions) .da-preview-menubar {
  display: none;
}

.da-preview-menuitem,
.da-versions-menuitem {
  display: block;
  width: 50px;
  height: 44px;
  text-indent: -1000px;
  overflow: hidden;
  border-radius: 2px;
  margin-bottom: 6px;
  background-color: rgb(239, 239, 239);
}

.da-preview-menuitem.show-preview {
  background: url("/blocks/edit/img/Smock_Preview_18_N.svg") center center / 20px no-repeat rgb(239, 239, 239);
  background-blend-mode: hard-light;
}

.da-versions-menuitem.show-versions {
  background: url("/blocks/edit/img/Smock_FilingCabinet_18_N.svg") center center / 20px no-repeat rgb(239, 239, 239);
  background-blend-mode: hard-light;
}

@media (min-width: 600px) {
  :host {
    padding: 0 80px;
  }

  .editor-wrapper {
    min-width: 375px;
  }

  .da-preview-menubar,
  .da-versions-menubar {
    display: unset;
  }
}

@media (min-width: 900px) {
  .editor-wrapper {
    min-width: 800px;
  }
}

@media (min-width: 1200px) {
  .editor-wrapper {
    width: 900px;
  }

  da-editor {

  }

  :host(.show-preview) da-editor {

  }

  :host(.show-versions) da-editor {
  }
}
