:host {
  display: block;
  padding: 48px 0;
}

h1 {
  margin-top: 0;
}

.con-button {
  font-family: var(--body-font-family);
  border-radius: 100px;
  border: 2px solid var(--text-color);
  color: var(--text-color);
  display: inline-block;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  padding: 5px 14px;
  text-decoration: none;
}

.con-button.blue {
  background: var(--color-accent);
  border-color: var(--color-accent);
  color: var(--color-white);
}

.con-button.gray {
  background: var(--color-gray-500);
  border-color: var(--color-gray-500);
  color: var(--color-white);
}

.da-title-inner {
  max-width: 900px;
  margin: 0px auto;
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: end;
}

.da-title-name-label {
  display: inline-block;
  position: relative;
  margin: 0 0 6px;
  text-transform: uppercase;
  font-weight: 700;
  color: #464646;
  opacity: 0.5;
  text-decoration: none;
  padding: 6px 12px;
  border-radius: 4px;
  left: -12px;
}

.da-title-name-label:hover {
  background: #EFEFEF;
  opacity: 1;
}

.da-title-name-label:before {
  display: block;
  content: '';
  position: absolute;
  width: 18px;
  height: 18px;
  top: 11px;
  left: -24px;
  background: url('/blocks/edit/img/left-large.svg') center/18px no-repeat;
}

.da-title-actions {
  margin-bottom: 0.67em;
  right: -12px;
  position: relative;
  border: 12px solid transparent;
  border-radius: 100px;
  display: flex;
  gap: 12px;
  height: 44px;
  justify-self: end;
}

.da-title-actions-custom {
  display: flex;
  flex-direction: column;
  border: 12px solid transparent;
  border-radius: 20px;
  position: absolute;
  top: -12px;
  right: 0;
  z-index: 2;
  align-items: end;
}

.da-title-actions-custom .da-title-action {
  margin-top: 10px;
  line-height: 1.5em;
  width: 100%;
}

.da-title-actions.is-open .da-title-actions-custom {
  background-color: #EFEFEF;
}

.da-title-actions.is-open:has(.da-title-actions-custom) {
  background-color: transparent;
}

.da-title-actions.is-open {
  background-color: #EFEFEF;
}

.da-title-actions.is-open .da-title-action {
  display: unset;
}

.da-title-action {
  display: none;
}

.da-title-action-top {
  padding: 5px 0;
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.da-title-action-icon {
  position: relative;
  display: block;
  width: 22px;
  height: 22px;
}

.da-title-action-send-icon {
  background: url('/blocks/edit/img/Smock_Send_18_N.svg') center/22px no-repeat;
}

.da-title-action-send-icon.is-sending {
  animation: animatedBackground 1s linear infinite;
}

@keyframes animatedBackground {
  from {
    left: -22px;
    bottom: -22px;
  }
  to {
    left: 22px;
    bottom: 22px;
  }
}

.da-title-action-custom-icon {
  background: url('/blocks/edit/img/Smock_Gears_18_N.svg') center/22px no-repeat;
}
