:host {
  display: block;
  padding: 48px 0 24px;
}

:host > svg {
  display: none;
}

h1 {
  position: relative;
  margin-top: 0;
}

.con-button {
  font-family: var(--body-font-family);
  border-radius: 100px;
  border: 2px solid var(--text-color);
  color: var(--text-color);
  display: inline-block;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  padding: 5px 14px;
  text-decoration: none;
}

.con-button.blue {
  background: var(--spectrum-blue-800);
  border-color: var(--spectrum-blue-800);
  color: #FFF;
}

.da-title-inner {
  max-width: var(--grid-container-width);
  margin: 0 auto;
  display: block;
  justify-content: space-between;
  align-items: end;
}

.da-title-inner.is-read-only h1::before {
  display: block;
  content: '';
  position: absolute;
  width: 18px;
  height: 18px;
  top: 18px;
  left: -36px;
  background: url("/blocks/edit/img/Smock_LockClosed_18_N.svg") center center / 18px no-repeat;
}

.da-title-name-label {
  display: inline-block;
  position: relative;
  margin: 0 0 6px;
  text-transform: uppercase;
  font-weight: 700;
  color: #464646;
  opacity: 0.5;
  text-decoration: none;
  padding: 6px 12px;
  border-radius: 4px;
  left: -12px;
}

.da-title-name-label:hover {
  background: #EFEFEF;
  opacity: 1;
}

.da-title-name-label::before {
  display: block;
  content: '';
  position: absolute;
  width: 18px;
  height: 18px;
  top: 11px;
  left: -24px;
  background: url('/blocks/edit/img/left-large.svg') center/18px no-repeat;
}

.da-title-collab-actions-wrapper {
  display: flex;
  margin-bottom: 0.67em;
  justify-content: center;
  align-items: center;
}

.collab-status {
  display: flex;
  align-items: center;
  justify-content: end;
  flex-wrap: wrap;
  max-width: 420px;
}

.collab-icon {
  position: relative;
  font-size: 12px;
  font-weight: 700;
}

.collab-icon:hover {
  z-index: 2;
}

.collab-icon.collab-popup::after {
  display: block;
  content: attr(data-popup-content);
  position: absolute;
  bottom: -32px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  text-transform: capitalize;
  background: #676767;
  color: #FFF;
  white-space: nowrap;
  padding: 0 8px;
  border-radius: 4px;
}

.collab-icon-user {
  height: 24px;
  border-radius: 12px;
  background: rgb(171 171 171 / 50%);
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  color: #676767;
  margin-right: -6px;
  padding: 0 12px;
  user-select: none;
  user-select: none;
}

.collab-icon-user:hover {
  background: rgb(150 150 150 / 50%);
}

.collab-status-cloud {
  height: 27px;
  margin-left: -4px;
  margin-bottom: -3px;
  color: rgb(171 171 171 / 50%);
}

.collab-icon.collab-status-cloud.collab-popup::after {
  bottom: -29px;
}

.collab-status-cloud svg {
  pointer-events: none;
  width: 37.5px;
  height: 27px;
}

.da-title-actions {
  position: relative;
  border: 12px solid transparent;
  border-radius: 100px;
  display: flex;
  gap: 12px;
  height: 44px;
}

.da-title-actions.is-fixed {
  position: fixed;
  right: 18px;
  bottom: 12px;
  z-index: 10000;
}

.da-title-actions.is-open {
  background: #EFEFEF;
}

.da-title-actions.is-open .da-title-action {
  display: unset;
}

.da-title-action {
  display: none;
}

.da-title-action-send {
  padding: 5px 0;
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.da-title-action-send-icon {
  position: relative;
  display: block;
  width: 22px;
  height: 22px;
  background: url('/blocks/edit/img/Smock_Send_18_N.svg') center/22px no-repeat;
}

.da-title-action-send-icon.is-sending {
  animation: animated-background 1s linear infinite;
}

.da-title-error {
  margin: 0 0 0 24px;
  color: #fff;
  background-color: #d73220;
  padding: 4px 8px;
  border-radius: 8px;
  font-size: 14px;

  p {
    margin: 0;
    line-height: 1.3;
  }
}

.da-title-action-send.is-error {
  background-color: #d73220;
}

@keyframes animated-background {
  from {
    left: -22px;
    bottom: -22px;
  }

  to {
    left: 22px;
    bottom: 22px;
  }
}

/* -------------------------------------
   Styles for the collab awarness widget
   ------------------------------------- */

div.collab-awareness {
  flex: 1;
  display: flex;
  align-self: center;
  justify-content: flex-end;
  padding-right: 16px;
}

div.collab-other-users {
  display: flex;
  flex-direction: row-reverse;
}

div.collab-other-users div {
  display: flex;
}

img.collab-icon {
  width: 19px;
  height: 19px;
}

div.collab-users {
  display: flex;
  flex-direction: row-reverse;
}

div.collab-initial {
  background-color: var(--spectrum-blue-800);
  border-color: var(--spectrum-blue-800);
  border-style: solid;
  border-width: 1px;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0.5px;
}

div.collab-initial p {
  color: white;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 15px;
}

@media (width > 600px) {
  :host {
    padding: 48px 0;
  }

  .da-title-inner {
    display: flex;
  }

  .da-title-actions {
    right: -12px;
  }
}

@media (width > 1200px) {
  .da-title-inner {
    max-width: 900px;
  }
}
