.da-versions-panel {
  display: block;
  width: 375px;
  min-height: 844px;
  margin: 0 auto;
  border: none;
  box-shadow: rgb(181, 181, 181) 0px 0px 20px 0px;
  overflow: hidden;
}

.da-versions-menubar {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  right: 12px;
  padding: 6px 6px 0px;
  border-radius: 4px;
  box-shadow: rgb(181, 181, 181) 0px 0px 5px 0px;
  background: rgb(255, 255, 255);
  box-sizing: border-box;
  grid-area: toolbar;
  z-index: 1;
}

.da-versions-menuitem {
  display: block;
  width: 44px;
  height: 44px;
  text-indent: -1000px;
  overflow: hidden;
  border-radius: 2px;
  margin-bottom: 6px;
  background-color: rgb(239, 239, 239);
}

.da-versions-close {
  background: url("/blocks/edit/img/Smock_Close_18_N.svg") center center / 20px no-repeat #EFEFEF;
}
