/* stylelint-disable selector-class-pattern */
:host {
  display: grid;
  grid-template-areas: 'editor';
}

.da-prose-mirror {
  --editor-btn-bg-color: #EFEFEF;
  --editor-btn-bg-color-hover: var(--s2-blue-900);

  grid-area: editor;
}

.da-prose-mirror.da-version-preview {
  position: relative;
  z-index: 1000;
  margin: 24px -24px -24px 24px;
}

.da-version-action-area {
  display: flex;
  justify-content: end;
  gap: 12px;
  position: absolute;
  top: 0;
  z-index: 5;
  width: 100%;
  padding: 20px;
  background: #EFEFEF;
  box-sizing: border-box;
  border-radius: 10px 10px 0 0;
}

.da-version-action-area button {
  font-family: var(--body-font-family);
  display: inline-block;
  font-style: normal;
  cursor: pointer;
  padding: 5px 14px;
  line-height: 18px;
  font-size: 15px;
  border-radius: var(--s2-radius-300);
  outline-offset: 0;
  transition: outline-offset .2s;
  text-decoration: none;
  font-weight: 700;
  text-align: center;
  background: none;
  border: 2px solid #000;
  color: #000;
}

.da-version-action-area button.accent {
  background: var(--s2-blue-800);
  border: 2px solid var(--s2-blue-800);
  outline-color: var(--s2-blue-800);
  color: #FFF;
}

.da-version-action-area button.accent:disabled {
  background: var(--s2-gray-700);
  border: 2px solid var(--s2-gray-700);
  cursor: not-allowed;
}

.da-prose-mirror.da-version-preview .ProseMirror {
  padding-top: 96px;
}

.da-prose-mirror-readonly .ProseMirror {
  background-color: lightgrey;
}

.ProseMirror {
  min-height: 600px;
  background: #FFF;
  position: relative;
  grid-area: editor;
  padding: 48px;
  box-shadow: rgb(181 181 181) 0 0 20px;
  border-radius: 10px;
  z-index: 1;
  overflow-wrap: anywhere;
  white-space: pre-wrap;
}

.ProseMirror-focused {
  outline: none;
}

.ProseMirror > *:first-child {
  margin-top: 0;
}

.ProseMirror img {
  max-width: 100%;
  height: auto;
}

table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}

table td {
  border: 3px solid #d0d0d0;
  margin: 3px;
  vertical-align: top;
  min-width: 100px;
}

table td p {
  margin: .25em 0;
}

p code {
  background: #e4ecfa;
  border: 1px solid #becee9;
  padding: 0 4px;
  border-radius: 4px;
  font-size: 14px;
}

pre {
  background: #e4ecfa;
  border: 1px solid #becee9;
  padding: 0 4px;
  border-radius: 4px;
  font-size: 14px;
}

blockquote {
  position: relative;
  padding: 0 0.5rem 0 1.5rem;
  margin: 0;
}

blockquote::before {
  position: absolute;
  display: block;
  content: '';
  top: 0;
  bottom: 0;
  left: 0;
  width: 4px;
  background: #848484;
  border-radius: 2px;
}

/* Palette */
.da-palettes {
  position: fixed;
  left: 150px;
  top: 50%;
  transform: translateY(-50%);
  grid-area: palettes;
  display: grid;
  z-index: 1;
  transition: left 0.2s ease-in-out 0s;
}

.ProseMirror-menubar {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  left: 12px;
  padding: 6px 6px 0;
  border-radius: 12px;
  box-shadow: 0 0 5px 0 #b5b5b5;
  background: #FFF;
  box-sizing: border-box;
  grid-area: toolbar;
  z-index: 2;

  &:hover,
  &:has(.ProseMirror-menu-dropdown-menu) {
    > .ProseMirror-menuitem {
      max-width: 1000px;
      transition: max-width 0.5s ease-in-out 0.5s;
    }

    + .ProseMirror + .da-palettes {
      left: 220px;
      transition: left 0.5s ease-in-out 0.5s;
    }
  }
}

.da-editor-tool {
    position: relative;
    width: 44px;
    height: 44px;
    display: block;
    border: none;
    margin-bottom: 6px;
}

.ProseMirror-menubar > .ProseMirror-menuitem {
  display: block;
  max-width: 44px;
  height: 44px;
  overflow: hidden;
  border-radius: 8px;
  margin-bottom: 6px;
  transition: max-width 0.2s ease-in-out 0s;
}

.ProseMirror-menuitem:has(.edit-block):not([style="display: none;"]) + .ProseMirror-menuitem {
  display: none;
}

.ProseMirror-menuitem:has(> .edit-unlink):not(:has(.ProseMirror-menu-active)) {
  display: none;
}

span.ProseMirror-menuseparator {
  height: 2px;
  display: block;
  background: var(--editor-btn-bg-color);
  margin: 0 8px 6px;
  border-radius: 1px;
}

.ProseMirror-menubar > .ProseMirror-menuitem > div {
  height: 44px;
  line-height: 44px;
  display: flex;
  padding-right: 16px;
  border-radius: 8px;
}

.ProseMirror-menu-dropdown.edit-text::before {
  display: block;
  content: '';
  width: 44px;
  height: 44px;
  flex: 0 0 auto;
  background: url('/blocks/edit/img/S2_Icon_Text_20_N.svg') center / 20px no-repeat;
}

.edit-link::before {
  display: block;
  content: '';
  width: 44px;
  height: 44px;
  flex: 0 0 auto;
  background: url('/blocks/edit/img/S2_Icon_Link_20_N.svg') center / 20px no-repeat;
}

.edit-unlink::before {
  display: block;
  content: '';
  width: 44px;
  height: 44px;
  flex: 0 0 auto;
  background: url('/blocks/edit/img/Smock_Unlink_18_N.svg') center / 18px no-repeat;
}

.ProseMirror-menu-dropdown.list-menu::before {
  display: block;
  content: '';
  width: 44px;
  height: 44px;
  flex: 0 0 auto;
  background: url('/blocks/edit/img/S2_Icon_ListBulleted_20_N.svg') center / 20px no-repeat;
}

.open-library::before {
  display: block;
  content: '';
  width: 44px;
  height: 44px;
  flex: 0 0 auto;
  background: url('/blocks/edit/img/S2_Icon_CCLibrary_20_N.svg') center / 20px no-repeat;
}

.insert-block::before {
  display: block;
  content: '';
  width: 44px;
  height: 44px;
  flex: 0 0 auto;
  background: url('/blocks/edit/img/S2_Icon_TableAdd_20_N.svg') center / 20px no-repeat;
}

.ProseMirror-menu-dropdown.edit-block::before {
  display: block;
  content: '';
  width: 44px;
  height: 44px;
  flex: 0 0 auto;
  background: url('/blocks/edit/img/S2_Icon_TableEdit_20_N.svg') center / 20px no-repeat;
}

.edit-hr::before {
  display: block;
  content: '';
  width: 44px;
  height: 44px;
  flex: 0 0 auto;
  background: url('/blocks/edit/img/S2_Icon_Separator_20_N.svg') center / 20px no-repeat;
}

.edit-undo::before {
  display: block;
  content: '';
  width: 44px;
  height: 44px;
  flex: 0 0 auto;
  background: url('/blocks/edit/img/S2_Icon_Undo_20_N.svg') center / 20px no-repeat;
}

.edit-redo::before {
  display: block;
  content: '';
  width: 44px;
  height: 44px;
  flex: 0 0 auto;
  background: url('/blocks/edit/img/S2_Icon_Redo_20_N.svg') center / 20px no-repeat;
}

.img-alt-text::before {
  display: block;
  content: '';
  width: 44px;
  height: 44px;
  flex: 0 0 auto;
  background: url('/blocks/edit/img/Smock_ImageText_18_N.svg') center / 20px no-repeat;
}

.ProseMirror-menuitem:hover:has(div:not(.ProseMirror-menu-disabled)) {
  background-color: var(--editor-btn-bg-color-hover);

  .ProseMirror-menu-dropdown.edit-text,
  .ProseMirror-menu-dropdown.edit-block,
  .ProseMirror-menu-dropdown.list-menu,
  .edit-link,
  .edit-unlink,
  .img-alt-text,
  .open-library,
  .insert-block,
  .edit-hr,
  .edit-undo,
  .edit-redo {
    filter: brightness(10);
    color: #fff;
  }

  .ProseMirror-menu-active.edit-link,
  .ProseMirror-menu-active.edit-unlink,
  .ProseMirror-menu-active.img-alt-text {
    background-color: transparent;
    color: #fff;
  }
}

.ProseMirror-menu-dropdown-item {
  border-radius: 8px;
}

.ProseMirror-menu-dropdown-item:hover:has(div:not(.ProseMirror-menu-disabled)) {
  background-color: var(--editor-btn-bg-color-hover);

  div {
    filter: brightness(10);
    color: #fff;
    background-color: unset;
  }
}

.ProseMirror-menu-dropdown {
  display: flex;
}

.ProseMirror-menuitem:has(.open-assets.ProseMirror-menu-disabled),
.ProseMirror-menuitem:has(.img-alt-text.ProseMirror-menu-disabled)
{
  display: none;
}

.ProseMirror-menu-disabled {
  opacity: 0.5;
}

.ProseMirror-menu-active,
.ProseMirror-menu-dropdown-item > div.ProseMirror-menu-active {
  background-color: #E4F0FF;
  border-radius: 8px;
}

.ProseMirror-menu-dropdown-menu {
  position: absolute;
  height: auto;
  top: 0;
  left: calc(100% + 12px);
  background: #FFF;
  padding: 6px 6px 0;
  box-shadow: 0 0 5px 0 #b5b5b5;
  border-radius: 12px;
}

.ProseMirror-menu-dropdown-menu.edit-text {
  display: grid;
  grid-template-columns: auto auto;
  gap: 6px;
}

.ProseMirror-menu-dropdown-item {
  display: flex;
  justify-content: center;
  margin-bottom: 6px;
}

.ProseMirror-menu-dropdown-item > div {
  width: 44px;
  height: 44px;
  border-radius: 2px;
  overflow: hidden;
  text-indent: -1000px;
}

.ProseMirror-menu-dropdown-item > .separator {
  height: 2px;
  display: block;
  background: var(--editor-btn-bg-color);
  border-radius: 1px;
}

.menu-item-para {
  background: url('/blocks/edit/img/Smock_TextParagraph_18_N.svg') center / 18px no-repeat;
}

.menu-item-blockquote {
  background: url('/blocks/edit/img/Smock_BlockQuote_18_N.svg') center / 18px no-repeat;
}

.menu-item-codeblock {
  background: url('/blocks/edit/img/Smock_BlockCode_18_N.svg') center / 18px no-repeat;
}


.edit-code {
  background: url('/blocks/edit/img/Smock_Code_18_N.svg') center / 18px no-repeat;
}

.edit-s {
  background: url('/blocks/edit/img/Smock_TextStrikethrough_18_N.svg') center / 18px no-repeat;
}

.ProseMirror-menu-dropdown-item:has(.menu-item-h1) {
  break-before: column;
}

.menu-item-h1 {
  background: url('/blocks/edit/img/Smock_Heading1_18_N.svg') center / 18px no-repeat;
}

.menu-item-h2 {
  background: url('/blocks/edit/img/Smock_Heading2_18_N.svg') center / 18px no-repeat;
}

.menu-item-h3 {
  background: url('/blocks/edit/img/Smock_Heading3_18_N.svg') center / 18px no-repeat;
}

.menu-item-h4 {
  background: url('/blocks/edit/img/Smock_Heading4_18_N.svg') center / 18px no-repeat;
}

.menu-item-h5 {
  background: url('/blocks/edit/img/Smock_Heading5_18_N.svg') center / 18px no-repeat;
}

.menu-item-h6 {
  background: url('/blocks/edit/img/Smock_Heading6_18_N.svg') center / 18px no-repeat;
}

.edit-bold {
  background: url('/blocks/edit/img/Smock_TextBold_18_N.svg') center / 18px no-repeat;
}

.edit-italic {
  background: url('/blocks/edit/img/Smock_TextItalic_18_N.svg') center / 18px no-repeat;
}

.edit-underline {
  background: url('/blocks/edit/img/Smock_TextUnderline_18_N.svg') center / 18px no-repeat;
}

.edit-strikethrough {
  background: url('/blocks/edit/img/Smock_TextStrikethrough_18_N.svg') center / 18px no-repeat;
}

.edit-sup {
  background: url('/blocks/edit/img/Smock_TextSuperscript_18_N.svg') center / 18px no-repeat;
}

.edit-sub {
  background: url('/blocks/edit/img/Smock_TextSubscript_18_N.svg') center / 18px no-repeat;
}

.bullet-list {
  background: url('/blocks/edit/img/Smock_TextBulleted_18_N.svg') center / 18px no-repeat;
}

.ordered-list {
  background: url('/blocks/edit/img/Smock_TextNumbered_18_N.svg') center / 18px no-repeat;
}

.indent-list {
  background: url('/blocks/edit/img/Smock_TextIndentIncrease_18_N.svg') center / 18px no-repeat;
}

.outdent-list {
  background: url('/blocks/edit/img/Smock_TextIndentDecrease_18_N.svg') center / 18px no-repeat;
}

.addColBefore {
  background: url('/blocks/edit/img/Smock_TableColumnAddLeft_18_N.svg') center / 18px no-repeat;
}

.addColumnAfter {
  background: url('/blocks/edit/img/Smock_TableColumnAddRight_18_N.svg') center / 18px no-repeat;
}

.deleteColumn {
  background: url('/blocks/edit/img/Smock_TableColumnRemoveCenter_18_N.svg') center / 18px no-repeat;
}

.addRowBefore {
  background: url('/blocks/edit/img/Smock_TableRowAddTop_18_N.svg') center / 18px no-repeat;
}

.addRowAfter {
  background: url('/blocks/edit/img/Smock_TableRowAddBottom_18_N.svg') center / 18px no-repeat;
}

.deleteRow {
  background: url('/blocks/edit/img/Smock_TableRowRemoveCenter_18_N.svg') center / 18px no-repeat;
}

.deleteBlock {
  background: url('/blocks/edit/img/Smock_TableRemove_18_N.svg') center / 18px no-repeat;
}

.mergeCells {
  background: url('/blocks/edit/img/Smock_TableMergeCells_18_N.svg') center / 18px no-repeat;
}

.splitCell {
  background: url('/blocks/edit/img/Smock_TableRowSplit_18_N.svg') center / 18px no-repeat;
}

/* Generic ProseMirror Styles */
.ProseMirror hr {
  border-radius: 1px;
  border: 1px solid #b3b3b3;
  position: relative;
  overflow: visible;
}

.ProseMirror hr::after {
  left: 50%;
  position: absolute;
  content: 'Section Break';
  text-transform: uppercase;
  background: rgb(255 255 255);
  top: -10px;
  font-weight: 700;
  color: #b3b3b3;
  padding: 0 6px;
  font-size: 12px;
  transform: translateX(-50%);
}

.ProseMirror a img {
  border: 2px solid;
  border-radius: 3px;
}

.ProseMirror a img.ProseMirror-separator {
  display: none;
}

.ProseMirror img.ProseMirror-selectednode {
  filter: brightness(0.5);
}

.ProseMirror table {
  width: 100%;
  border-spacing: 6px;
}

.ProseMirror tr:first-child td,
.ProseMirror tr:first-child th {
  background: #f1f1f1;
  text-align: center;
  font-weight: 700;
}

.ProseMirror tr:first-child td.selectedCell,
.ProseMirror tr:first-child th.selectedCell {
  background: #d1e4f8;
}

.ProseMirror th,
.ProseMirror td {
  border: 2px solid #B1B1B1;
  vertical-align: top;
  min-width: 100px;
  padding: 8px;
  color: #464646;
}

td.selectedCell {
  background: #e9f4ff;
  box-shadow: inset 0 2px 5px rgb(0 0 0 / 12%);
}

/* COPY FROM PROSEMIRROR VIEW */

.ProseMirror pre {
  white-space: pre-wrap;
}

.ProseMirror li {
  position: relative;
}

.ProseMirror-hideselection *::selection { background: transparent; }
.ProseMirror-hideselection *::selection { background: transparent; }
.ProseMirror-hideselection { caret-color: transparent; }

.ProseMirror-selectednode {
  outline: 2px solid #8cf;
}

.ProseMirror .highlighted-context {
  background-color: #eee;
}

/* Make sure li selections wrap around markers */

li.ProseMirror-selectednode {
  outline: none;
}

li.ProseMirror-selectednode::after {
  content: "";
  position: absolute;
  inset: -2px -2px -2px -32px;
  border: 2px solid #8cf;
  pointer-events: none;
}

/* Gap Cursor */
.ProseMirror-gapcursor {
  display: none;
  pointer-events: none;
  position: absolute;
}

.ProseMirror-gapcursor::after {
  content: "";
  display: block;
  position: absolute;
  top: -2px;
  width: 20px;
  border-top: 1px solid black;
  animation: ProseMirror-cursor-blink 1.1s steps(2, start) infinite;
}

@keyframes ProseMirror-cursor-blink {
  to {
    visibility: hidden;
  }
}

.ProseMirror-focused .ProseMirror-gapcursor {
  display: block;
}


/* Protect against generic img rules */

img.ProseMirror-separator {
  display: inline !important;
  border: none !important;
  margin: 0 !important;
}

/* COPY FROM TABLES */
.ProseMirror .tableWrapper {
  overflow-x: auto;
  border: 2px solid #B1B1B1;
  border-radius: 6px;
  margin: 2px 0;
}

.ProseMirror table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100% !important;
  overflow: hidden;
  border-style: hidden;
}

.ProseMirror td,
.ProseMirror th {
  vertical-align: top;
  box-sizing: border-box;
  position: relative;
}

.ProseMirror .column-resize-handle {
  position: absolute;
  right: -2px;
  top: 0;
  bottom: 0;
  width: 4px;
  z-index: 20;
  background-color: #adf;
  pointer-events: none;
}

.ProseMirror.resize-cursor {
  cursor: ew-resize;
  cursor: col-resize;
}

.ProseMirror img[href] {
  border: #5faaf9 4px solid;
  box-sizing: border-box;
}

da-library.hide {
  display: none;
}

@media (width > 600px) {
  .ProseMirror-menubar {
    left: 84px;
  }
}


@media (min-width: 900px) {
  .da-toolbar-extras > div {
    flex: unset;
  }

  input.da-pallette-input {
    width: 400px;
  }
}

/* this is a rough fix for the first cursor position when the first paragraph is empty */
.ProseMirror > .ProseMirror-yjs-cursor:first-child {
  margin-top: 16px;
}

.ProseMirror td > *:first-child,
.ProseMirror th > *:first-child {
  margin-top: 0;
}

.ProseMirror td > *:last-child,
.ProseMirror th > *:last-child {
  margin-bottom: 0;
}

.ProseMirror td > *:has(+ .column-resize-handle),
.ProseMirror th > *:has(+ .column-resize-handle) {
  margin-bottom: 0;
}

/* This gives the remote user caret. The colors are automatically overwritten */
.ProseMirror-yjs-cursor {
  position: relative;
  margin-left: -1px;
  margin-right: -1px;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-color: orange;
  word-break: normal;
  pointer-events: none;
}

/* This renders the username above the caret */
.ProseMirror-yjs-cursor > div {
  position: absolute;
  top: -1.05em;
  left: -1px;
  font-size: 13px;
  background-color: rgb(250 129 0);
  font-family: var(--body-font-family);
  border-radius: 2px;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  user-select: none;
  color: white;
  padding: 0 3px;
  white-space: nowrap;
}

da-diff-deleted, da-diff-added {
  display: block;
  position: relative;
}

.loc-dialog {
  padding: 10px;
  border-radius: 4px;
  box-shadow: rgb(181 181 181) 0 0 5px 0;
  background: rgb(255 255 255);
  box-sizing: border-box;
  grid-area: toolbar;
  z-index: 1002;
  display: flex;
  flex-direction: column;
  width: 140px;
}

.loc-dialog > span {
  height: 40px;
  text-align: center;
}

.loc-dialog > div {
  display: flex;
  justify-content: space-around;
}

.loc-dialog > div > span {
  display: block;
  width: 44px;
  height: 44px;
  text-indent: -1000px;
  overflow: hidden;
  border-radius: 2px;
  margin-bottom: 6px;
  background-color: rgb(239 239 239);
  box-shadow: rgb(181 181 181) 0 0 5px 0;
}

.diff-color-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 6px;
}


.diff-lang-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1001;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.diff-color-overlay.diff-upstream {
  background-color: rgb(70 130 180 / 40%);
}

.diff-color-overlay.diff-local {
  background-color: rgb(144 42 222 / 40%);
}

.diff-color-overlay.diff-upstream .diff-lang-overlay {
  background-color: rgb(70 130 180 / 80%);
}

.diff-color-overlay.diff-local .diff-lang-overlay {
  background-color: rgb(144 42 222 / 80%);
}

.diff-color-overlay.diff-upstream .loc-dialog {
  color: rgb(70 130 180);
}

.diff-color-overlay.diff-local .loc-dialog {
  color: rgb(144 42 222);
}

.diff-color-overlay.diff-upstream::after {
  content: var(--diff-label-upstream, 'Upstream');
  position: absolute;
  bottom: 4px;
  right: 4px;
  padding: 4px 8px;
  font-size: 10px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: rgb(70 130 180 / 90%);
  color: white;
  border-radius: 4px;
  min-width: 50px;
  text-align: center;
}

.diff-color-overlay.diff-local::after {
  content: var(--diff-label-local, 'Local');
  position: absolute;
  bottom: 4px;
  right: 4px;
  padding: 4px 8px;
  font-size: 10px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: rgb(144 42 222 / 90%);
  color: white;
  border-radius: 4px;
  min-width: 50px;
  text-align: center;
}

/* Wrapper for images with focal point overlay */
.focal-point-image-wrapper {
  position: relative;
  display: block;
}

.focal-point-image-wrapper img {
  display: block;
  position: relative;
}

/* Focal point icon overlay on images in tables */
.focal-point-icon {
  position: absolute;
  bottom: 4px;
  left: 4px;
  width: 32px;
  height: 32px;
  background: rgb(255 255 255 / 90%);
  border: 1px solid #ccc;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.2s ease;
  z-index: 10;
  pointer-events: auto;
}

/* Show icon on hover ONLY for images without focal point data */
.focal-point-image-wrapper:hover .focal-point-icon:not(.focal-point-icon-active) {
  opacity: 1;
}

/* Always show icon for images with focal point data */
.focal-point-icon-active {
  opacity: 1;
}

.focal-point-icon:hover {
  background: #fff;
  border-color: #0265dc;
}

.focal-point-icon svg {
  color: #505050;
}

.focal-point-icon svg .fill {
  fill: currentcolor;
}

.focal-point-icon:hover svg {
  color: #0265dc;
}
