:host {
  display: grid;
  grid-template-areas: 'editor';
}

.da-prose-mirror {
  --editor-btn-bg-color: #EFEFEF;
  --editor-btn-bg-color-hover: #e9e9e9;

  grid-area: editor;
}

.da-prose-mirror.da-version-preview {
  position: relative;
  z-index: 1000;
  margin: 24px -24px -24px 24px;
}

.da-version-action-area {
  display: flex;
  justify-content: end;
  gap: 12px;
  position: absolute;
  top: 0;
  z-index: 2;
  width: 100%;
  padding: 20px;
  background: #EFEFEF;
  box-sizing: border-box;
  border-radius: 10px 10px 0 0;
}

.da-version-action-area button {
  font-family: var(--body-font-family);
  display: inline-block;
  font-style: normal;
  cursor: pointer;
  padding: 5px 14px;
  line-height: 18px;
  font-size: 15px;
  border-radius: var(--s2-radius-300);
  outline-offset: 0;
  transition: outline-offset .2s;
  text-decoration: none;
  font-weight: 700;
  text-align: center;
  background: none;
  border: 2px solid #000;
  color: #000;
}

.da-version-action-area button.accent {
  background: var(--s2-blue-800);
  border: 2px solid var(--s2-blue-800);
  outline-color: var(--s2-blue-800);
  color: #FFF;
}

.da-prose-mirror.da-version-preview .ProseMirror {
  padding-top: 96px;
}

.ProseMirror {
  min-height: 600px;
  background: #FFF;
  position: relative;
  grid-area: editor;
  padding: 48px;
  box-shadow: rgb(181, 181, 181) 0px 0px 20px 0px;
  border-radius: 10px;
  z-index: 1;
}

.ProseMirror-focused {
  outline: none;
}

.ProseMirror > *:first-child {
  margin-top: 0;
}

.ProseMirror img {
  max-width: 100%;
  height: auto;
}

table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}

table td {
  border: 3px solid #d0d0d0;
  margin: 3px;
  vertical-align: top;
  min-width: 100px;
}

table td p {
  margin: .25em 0;
}

.ProseMirror-menubar {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  left: 12px;
  padding: 6px 6px 0 6px;
  border-radius: 4px;
  box-shadow: 0px 0px 5px 0px #b5b5b5;
  background: #FFF;
  box-sizing: border-box;
  grid-area: toolbar;
  z-index: 2;
}

.da-editor-tool {
    position: relative;
    width: 44px;
    height: 44px;
    display: block;
    border: none;
    margin-bottom: 6px;
}

.ProseMirror-menubar > .ProseMirror-menuitem {
  display: block;
  width: 44px;
  height: 44px;
  text-indent: -1000px;
  overflow: hidden;
  border-radius: 2px;
  margin-bottom: 6px;
  background-color: var(--editor-btn-bg-color);
}

span.ProseMirror-menuitem.edit-table[style=""] + .ProseMirror-menuitem {
  display: none;
}

.ProseMirror-menuitem:has(> .edit-unlink):not(:has(.ProseMirror-menu-active)) {
  display: none;
}

span.ProseMirror-menuseparator {
  height: 2px;
  display: block;
  background: var(--editor-btn-bg-color);
  margin-bottom: 6px;
  border-radius: 1px;
}

.ProseMirror-menuitem > div {
  width: 44px;
  height: 44px;
}

.ProseMirror-menu-dropdown {
  height: 44px;
}

.ProseMirror-menu-dropdown:hover,
.ProseMirror-menuitem > div:not(.ProseMirror-menu-dropdown-wrap, .ProseMirror-menu-disabled):hover,
.ProseMirror-menu-dropdown-item > div:not(.ProseMirror-menu-disabled):hover {
  background-color: var(--editor-btn-bg-color-hover) !important;
}

.ProseMirror-menuitem:has(.open-assets.ProseMirror-menu-disabled),
.ProseMirror-menuitem:has(.img-alt-text.ProseMirror-menu-disabled)
{
  display: none;
}

.ProseMirror-menu-disabled {
  opacity: 0.5;
}

.ProseMirror-menu-dropdown.edit-text {
  background: url('/blocks/edit/img/Smock_Text_18_N.svg') center / 18px no-repeat var(--editor-btn-bg-color);
}

.ProseMirror-menu-dropdown-menu {
  position: absolute;
  height: auto;
  top: 0;
  left: 64px;
  background: #FFF;
  padding: 6px 6px 0 6px;
  box-shadow: 0px 0px 5px 0px #b5b5b5;
  border-radius: 4px;
}

.ProseMirror-menu-dropdown-item {
  margin-bottom: 6px;
}

.ProseMirror-menu-dropdown-item > div {
  width: 44px;
  height: 44px;
  border-radius: 2px;
}

.ProseMirror-menu-dropdown-item > .separator {
  height: 2px;
  display: block;
  background: var(--editor-btn-bg-color);
  margin-bottom: 6px;
  border-radius: 1px;
}

.menu-item-para {
  background: url('/blocks/edit/img/Smock_TextParagraph_18_N.svg') center / 18px no-repeat var(--editor-btn-bg-color);
}

.menu-item-blockquote {
  background: url('/blocks/edit/img/Smock_Quote_18_N.svg') center / 18px no-repeat var(--editor-btn-bg-color);
}

.menu-item-codeblock {
  background: url('/blocks/edit/img/Smock_Code_18_N.svg') center / 18px no-repeat var(--editor-btn-bg-color);
}

.menu-item-h1 {
  background: url('/blocks/edit/img/Smock_Heading1_18_N.svg') center / 18px no-repeat var(--editor-btn-bg-color);
}

.menu-item-h2 {
  background: url('/blocks/edit/img/Smock_Heading2_18_N.svg') center / 18px no-repeat var(--editor-btn-bg-color);
}

.menu-item-h3 {
  background: url('/blocks/edit/img/Smock_Heading3_18_N.svg') center / 18px no-repeat var(--editor-btn-bg-color);
}

.menu-item-h4 {
  background: url('/blocks/edit/img/Smock_Heading4_18_N.svg') center / 18px no-repeat var(--editor-btn-bg-color);
}

.menu-item-h5 {
  background: url('/blocks/edit/img/Smock_Heading5_18_N.svg') center / 18px no-repeat var(--editor-btn-bg-color);
}

.menu-item-h6 {
  background: url('/blocks/edit/img/Smock_Heading6_18_N.svg') center / 18px no-repeat var(--editor-btn-bg-color);
}

.edit-bold {
  background: url('/blocks/edit/img/Smock_TextBold_18_N.svg') center / 18px no-repeat var(--editor-btn-bg-color);
}

.edit-italic {
  background: url('/blocks/edit/img/Smock_TextItalic_18_N.svg') center / 18px no-repeat var(--editor-btn-bg-color);
}

.edit-sup {
  background: url('/blocks/edit/img/Smock_TextSuperscript_18_N.svg') center / 18px no-repeat #EFEFEF;
}

.edit-sub {
  background: url('/blocks/edit/img/Smock_TextSubscript_18_N.svg') center / 18px no-repeat #EFEFEF;
}

.edit-link {
  background: url('/blocks/edit/img/Smock_Link_18_N.svg') center / 18px no-repeat var(--editor-btn-bg-color);
}

.edit-unlink {
  background: url('/blocks/edit/img/Smock_Unlink_18_N.svg') center / 18px no-repeat var(--editor-btn-bg-color);
}

.bullet-list, .ProseMirror-menu-dropdown.list-menu {
  background: url('/blocks/edit/img/Smock_TextBulleted_18_N.svg') center / 18px no-repeat var(--editor-btn-bg-color);
}

.ordered-list {
  background: url('/blocks/edit/img/Smock_TextNumbered_18_N.svg') center / 18px no-repeat var(--editor-btn-bg-color);
}

.indent-list {
  background: url('/blocks/edit/img/Smock_TextIndentIncrease_18_N.svg') center / 18px no-repeat var(--editor-btn-bg-color);
}

.outdent-list {
  background: url('/blocks/edit/img/Smock_TextIndentDecrease_18_N.svg') center / 18px no-repeat var(--editor-btn-bg-color);
}

.insert-table {
  background: url('/blocks/edit/img/Smock_TableAdd_18_N.svg') center / 18px no-repeat var(--editor-btn-bg-color);
}

.ProseMirror-menu-dropdown.edit-table {
  background: url('/blocks/edit/img/Smock_TableEdit_18_N.svg') center / 18px no-repeat var(--editor-btn-bg-color);
}

.addColBefore {
  background: url('/blocks/edit/img/Smock_TableColumnAddLeft_18_N.svg') center / 18px no-repeat var(--editor-btn-bg-color);
}

.addColumnAfter {
  background: url('/blocks/edit/img/Smock_TableColumnAddRight_18_N.svg') center / 18px no-repeat var(--editor-btn-bg-color);
}

.deleteColumn {
  background: url('/blocks/edit/img/Smock_TableColumnRemoveCenter_18_N.svg') center / 18px no-repeat var(--editor-btn-bg-color);
}

.addRowBefore {
  background: url('/blocks/edit/img/Smock_TableRowAddTop_18_N.svg') center / 18px no-repeat var(--editor-btn-bg-color);
}

.addRowAfter {
  background: url('/blocks/edit/img/Smock_TableRowAddBottom_18_N.svg') center / 18px no-repeat var(--editor-btn-bg-color);
}

.deleteRow {
  background: url('/blocks/edit/img/Smock_TableRowRemoveCenter_18_N.svg') center / 18px no-repeat var(--editor-btn-bg-color);
}

.deleteTable {
  background: url('/blocks/edit/img/Smock_TableRemove_18_N.svg') center / 18px no-repeat var(--editor-btn-bg-color);
}

.mergeCells {
  background: url('/blocks/edit/img/Smock_TableMergeCells_18_N.svg') center / 18px no-repeat var(--editor-btn-bg-color);
}

.splitCell {
  background: url('/blocks/edit/img/Smock_TableRowSplit_18_N.svg') center / 18px no-repeat var(--editor-btn-bg-color);
}

.edit-hr {
  background: url('/blocks/edit/img/Smock_PageRule_18_N.svg') center / 18px no-repeat var(--editor-btn-bg-color);
}

.open-library {
  background: url('/blocks/edit/img/Smock_CCLibrary_18_N.svg') center / 18px no-repeat var(--editor-btn-bg-color);
}

.open-assets {
  background: url('/blocks/edit/img/Smock_Images_18_N.svg') center / 18px no-repeat var(--editor-btn-bg-color);
}

.edit-undo {
  background: url('/blocks/edit/img/Smock_Undo_18_N.svg') center / 18px no-repeat var(--editor-btn-bg-color);
}

.edit-redo {
  background: url('/blocks/edit/img/Smock_Redo_18_N.svg') center / 18px no-repeat var(--editor-btn-bg-color);
}

.img-alt-text {
  background: url('/blocks/edit/img/Smock_ImageText_18_N.svg') center / 18px no-repeat var(--editor-btn-bg-color);
}

/* Generic ProseMirror Styles */
.ProseMirror hr {
  border-radius: 1px;
  border: 1px solid #b3b3b3;
  position: relative;
  overflow: visible;
}

.ProseMirror hr:after {
  left: 50%;
  position: absolute;
  content: 'Section Break';
  text-transform: uppercase;
  background: rgb(255 255 255);
  top: -10px;
  font-weight: 700;
  color: #b3b3b3;
  padding: 0 6px;
  font-size: 12px;
  transform: translateX(-50%);
}

.ProseMirror a img {
  border: 2px solid;
  border-radius: 3px;
}

.ProseMirror a img.ProseMirror-separator {
  display: none;
}

.ProseMirror img.ProseMirror-selectednode {
  filter: brightness(0.5);
}

.ProseMirror table {
  width: 100%;
  border-spacing: 6px;
}

.ProseMirror tr:first-child td,
.ProseMirror tr:first-child th {
  background: #f1f1f1;
  text-align: center;
  font-weight: 700;
}

.ProseMirror tr:first-child td.selectedCell,
.ProseMirror tr:first-child th.selectedCell {
  background: #d1e4f8;
}

.ProseMirror th,
.ProseMirror td {
  border: 2px solid #B1B1B1;
  vertical-align: top;
  min-width: 100px;
  padding: 8px;
  color: #464646;
}

td.selectedCell {
  background: #e9f4ff;
  box-shadow: inset 0 2px 5px rgb(0 0 0 / 12%);
}

/* COPY FROM PROSEMIRROR VIEW */
.ProseMirror {
  position: relative;
}

.ProseMirror {
  word-wrap: break-word;
  white-space: pre-wrap;
  white-space: break-spaces;
  -webkit-font-variant-ligatures: none;
  font-variant-ligatures: none;
  font-feature-settings: "liga" 0; /* the above doesn't seem to work in Edge */
}

.ProseMirror pre {
  white-space: pre-wrap;
}

.ProseMirror li {
  position: relative;
}

.ProseMirror-hideselection *::selection { background: transparent; }
.ProseMirror-hideselection *::-moz-selection { background: transparent; }
.ProseMirror-hideselection { caret-color: transparent; }

.ProseMirror-selectednode {
  outline: 2px solid #8cf;
}

.ProseMirror .highlighted-context {
  background-color: #eee;
}

/* Make sure li selections wrap around markers */

li.ProseMirror-selectednode {
  outline: none;
}

li.ProseMirror-selectednode:after {
  content: "";
  position: absolute;
  left: -32px;
  right: -2px; top: -2px; bottom: -2px;
  border: 2px solid #8cf;
  pointer-events: none;
}

/* Gap Cursor */
.ProseMirror-gapcursor {
  display: none;
  pointer-events: none;
  position: absolute;
}

.ProseMirror-gapcursor:after {
  content: "";
  display: block;
  position: absolute;
  top: -2px;
  width: 20px;
  border-top: 1px solid black;
  animation: ProseMirror-cursor-blink 1.1s steps(2, start) infinite;
}

@keyframes ProseMirror-cursor-blink {
  to {
    visibility: hidden;
  }
}

.ProseMirror-focused .ProseMirror-gapcursor {
  display: block;
}


/* Protect against generic img rules */

img.ProseMirror-separator {
  display: inline !important;
  border: none !important;
  margin: 0 !important;
}

/* COPY FROM TABLES */
.ProseMirror .tableWrapper {
  overflow-x: auto;
  border: 2px solid #B1B1B1;
  border-radius: 6px;
  margin: 2px 0;
}

.ProseMirror table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100% !important;
  overflow: hidden;
  border-style: hidden;
}
.ProseMirror td,
.ProseMirror th {
  vertical-align: top;
  box-sizing: border-box;
  position: relative;
}
.ProseMirror .column-resize-handle {
  position: absolute;
  right: -2px;
  top: 0;
  bottom: 0;
  width: 4px;
  z-index: 20;
  background-color: #adf;
  pointer-events: none;
}
.ProseMirror.resize-cursor {
  cursor: ew-resize;
  cursor: col-resize;
}

.ProseMirror img[href] {
  border: #5faaf9 4px solid;
  box-sizing: border-box;
}

/* Palette */
.da-palettes {
  position: fixed;
  left: 150px;
  top: 50%;
  transform: translateY(-50%);
  grid-area: palettes;
  display: grid;
  z-index: 2;
}

da-library.hide {
  display: none;
}

@media (width > 600px) {
  .ProseMirror-menubar {
    left: 84px;
  }
}


@media (min-width: 900px) {
  .da-toolbar-extras > div {
    flex: unset;
  }

  input.da-pallette-input {
    width: 400px;
  }
}

/* this is a rough fix for the first cursor position when the first paragraph is empty */
.ProseMirror > .ProseMirror-yjs-cursor:first-child {
  margin-top: 16px;
}
.ProseMirror td > *:first-child,
.ProseMirror th > *:first-child {
  margin-top: 0;
}
.ProseMirror td > *:last-child,
.ProseMirror th > *:last-child {
  margin-bottom: 0;
}
.ProseMirror td > *:has(+ .column-resize-handle),
.ProseMirror th > *:has(+ .column-resize-handle) {
  margin-bottom: 0;
}

/* This gives the remote user caret. The colors are automatically overwritten */
.ProseMirror-yjs-cursor {
  position: relative;
  margin-left: -1px;
  margin-right: -1px;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-color: orange;
  word-break: normal;
  pointer-events: none;
}

/* This renders the username above the caret */
.ProseMirror-yjs-cursor > div {
  position: absolute;
  top: -1.05em;
  left: -1px;
  font-size: 13px;
  background-color: rgb(250, 129, 0);
  font-family: var(--body-font-family);
  border-radius: 2px;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  user-select: none;
  color: white;
  padding: 0 3px;
  white-space: nowrap;
}

da-loc-deleted, da-loc-added {
  display: block;
  position: relative;
}

.loc-dialog {
  /* position: relative; */
  /* top: 50%;
  transform: translateY(-50%); */
  padding: 10px;
  border-radius: 4px;
  box-shadow: rgb(181, 181, 181) 0px 0px 5px 0px;
  background: rgb(255, 255, 255);
  box-sizing: border-box;
  grid-area: toolbar;
  z-index: 1002;
  display: flex;
  flex-direction: column;
}

.loc-dialog > span {
  height: 40px;
}

.loc-dialog > div {
  display: flex;
  justify-content: space-around;
}

.loc-dialog > div > span {
  display: block;
  width: 44px;
  height: 44px;
  text-indent: -1000px;
  overflow: hidden;
  border-radius: 2px;
  margin-bottom: 6px;
  background-color: rgb(239 239 239);
  box-shadow: rgb(181 181 181) 0 0 5px 0;
}

.loc-keep {
  width: 44px;
  height: 44px;
  background: url('/blocks/edit/img/Smock_CheckmarkCircleOutline_18_N.svg') center / 18px no-repeat var(--editor-btn-bg-color);
}

.loc-keep:hover {
  box-shadow: #008000 0 0 5px 0;
}

.loc-delete {
  width: 44px;
  height: 44px;
  background: url('/blocks/edit/img/Smock_DeleteOutline_18_N.svg') center / 18px no-repeat var(--editor-btn-bg-color);
}

.loc-delete:hover {
  box-shadow: #ff0000 0 0 5px 0;
}

.loc-color-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.loc-color-overlay.loc-langstore::after {
  content: 'Langstore';
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 5px;
  font-size: 10px;
  background-color: rgba(70, 130, 180, 90%);
  color: white;
}

.loc-color-overlay.loc-regional::after {
  content: 'Regional';
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 5px;
  font-size: 10px;
  background-color: rgba(144, 42, 222, 90%);
  color: white;
}

.loc-lang-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1001;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
