:root {
  --aec-nav-height: 49px;
}

button, input {
  font-family: var(--body-font-family);
}

header.aec-shell {
  opacity: 1 !important;
  height: var(--aec-nav-height);
  min-height: var(--aec-nav-height);
  border-bottom: 1px solid #d3d3d3;
}

@media (min-width: 900px) {
  header.aec-shell + main {
    margin-top: var(--aec-nav-height);
  }
}
