:host {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

button {
  font-family: var(--body-font-family);
}

.aec-button {
  border: none;
  line-height: 32px;
  font-family: var(--body-font-family);
  display: flex;
  align-items: center;
  gap: 6px;
  background: none;
  font-size: 14px;
  padding: 4px;
  cursor: pointer;
}

.aec-logo {
  height: 24px;
  width: 24.59px;
}

.ims-unknown .profile,
.ims-anonymous .profile {
  display: none;
}

.sign-in {
  display: block;
  line-height: 48px;
  padding: 0;
  border: 0;
  background: none;
}

.ims-signed-in .sign-in {
  display: none;
}

.profile-button {
  display: block;
  width: 28px;
  height: 28px;
  border-radius: 16px;
  overflow: hidden;
  text-indent: -1000px;
  padding: 0;
  margin: 0;
  border: none;
}

.profile-button img {
  display: block;
  width: 100%;
}