:host {
  position: relative;
  display: block;
  padding: 80px 0;
}

.da-org-bg {
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}

.da-org-container {
  position: relative;
  max-width: var(--grid-container-width);
  margin: 0 auto;
}

h1 {
  font-size: 1.4rem;
  text-transform: uppercase;
  margin: 0 0 24px;
}

.da-orgs-list {
  list-style: none;
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  margin: 0 0 var(--spacing-800) 0;
  padding: 0;
}

.da-org {
  display: block;
  position: relative;
  min-height: 320px;
  /* border: 1px solid rgb(234 234 234); */
  background-color: rgb(255 255 255);
  border-radius: 8px;
  transition: all 500ms ease-out 0s;
  text-decoration: none;
  color: rgb(46 46 46);
  overflow: hidden;
  box-shadow: rgb(0 0 0 / 8%) 0 6px 16px, rgb(0 0 0 / 12%) 0 3px 6px;
}

.da-org:hover {
  background-color: rgb(228 240 255);
  cursor: pointer;
}

.da-org.show-all,
.da-org.new {
  border: 1px solid rgb(250 250 250);
  background-color: rgb(250 250 250);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
}

.da-org.show-all:hover {
  border: 1px solid rgb(20 122 243);
  background-color: rgb(228 240 255);
}

.da-org.new:hover {
  background-color: #f1fff0;
  border: 1px solid rgb(0 194 68);
}

.new-icon {
  width: 100%;
  display: flex;
  justify-content: center;
}

.new-icon img {
  width: 48px;
}

.new-title {
  font-weight: 700;
  margin: 12px 0 0 0;
}

.image-container {
  height: 148px;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.details-area {
  padding: 20px;
  line-height: 1;
}

.details-area p.label {
  margin: 0 0 4px;
  text-transform: uppercase;
  font-weight: 700;
  color: #707070;
  letter-spacing: .0413rem;
  font-size: .8rem;
  line-height: .8rem;
}

.details-title {
  margin: 0 0 24px;
  font-weight: 400;
}
