:host {
  display: block;
  max-width: var(--grid-container-width);
  margin: 0 auto;
  padding: 80px 0;
}

h1 {
  font-size: 1.4rem;
  text-transform: uppercase;
  margin: 0px 0px 24px;
}

.da-orgs-list {
  list-style: none;
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  margin: 0;
  padding: 0;
}

.da-org {
  display: block;
  position: relative;
  min-height: 320px;
  border: 1px solid rgb(234, 234, 234);
  background-color: rgb(255, 255, 255);
  border-radius: 6px;
  transition: all 500ms ease-out 0s;
  text-decoration: none;
  color: rgb(46, 46, 46);
  overflow: hidden;
}

.da-org:hover {
  background-color: rgb(228 240 255);
  border: 1px solid rgb(20, 122, 243);
  cursor: pointer;
}

.da-org.new {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
}

.da-org.new:hover {
  background-color: #f1fff0;
  border: 1px solid rgb(0 194 68);
}

.new-icon {
  width: 100%;
  display: flex;
  justify-content: center;
}

.new-icon img {
  width: 48px;
}

.new-title {
  margin: 12px 0 0 0;
}

.image-container {
  height: 148px;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.details-area {
  padding: 20px;
  line-height: 1;
}

.details-area p.label {
  margin: 0px 0px 4px;
  text-transform: uppercase;
  font-weight: 700;
  color: #707070;
  letter-spacing: .04125rem;
  font-size: .8rem;
  line-height: .8rem;
}

.details-title {
  margin: 0 0 24px;
  font-weight: 400;
}
